version: '3'

services:
    node:
        image: node:12
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            DEBUG: ${DEBUG}
            NODE_ENV: ${NODE_ENV}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1,'
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            CI: ${CI}
        links:
            - mongo
            - redis
            - lodex-extended
        depends_on:
            - mongo
            - redis
            - lodex-extended
        ports:
            - 3000:3000
        command: npm run development:api

    dev-server: ## Enable hot-reload in development
        image: node:12
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            NODE_ENV: development
        ports:
            - 8080:8080
        command: npm run dev:server

    mongo:
        image: mongo:3.4.21
        command: '--smallfiles'
        ports:
            - 27017:27017

    redis:
        image: redis:6
        ports:
            - 6379:6379

    lodex-extended:
        image: inistcnrs/lodex-extended:6.1.3
        environment:
            EZS_VERBOSE: 'true'
        ports:
            - 31976:31976
