version: '3'

services:
    node:
        image: node:12
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            DEBUG: ${DEBUG}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1,'
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            REDIS_URL: 'redis://redis:6379'
            CI: ${CI}
        links:
            - mongo
            - redis
        depends_on:
            - mongo
            - redis
        ports:
            - 3000:3000
            - 9229:9229 # Enable Nodemon inspect to attach to Docker Node
        command: npm run development:api

    dev-server: ## Enable hot-reload in development
        image: node:12
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            NODE_ENV: development
        ports:
            - 8080:8080
        command: npm run dev:server

    mongo:
        image: mongo:3.4.21
        command: '--smallfiles'
        ports:
            - 27017:27017

    redis:
        image: redis:6
        ports:
            - 6379:6379
