version: '3'

services:
    node:
        image: node:16.20-bullseye
        extra_hosts: # for linux hosts since version 20.10
            - host.docker.internal:host-gateway
        volumes:
            - .:/app
        working_dir: /app
        environment:
            npm_config_cache: /app/.npm
            CYPRESS_CACHE_FOLDER: /app/.cache
            MONGOMS_DOWNLOAD_DIR: /app/.cache/mongodb-binaries
            DEBUG: ${DEBUG}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1,'
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            REDIS_URL: 'redis://redis:6379'
            WORKERS_URL: 'http://workers:31976'
            CI: ${CI}
        links:
            - mongo
            - redis
            - workers
        depends_on:
            - mongo
            - redis
            - workers
        ports:
            - "3000:3000"
            - "9229:9229" # Enable Nodemon inspect to attach to Docker Node
        command: npm run development:api

    dev-server: ## Enable hot-reload in development
        image: node:16.20-bullseye
        volumes:
            - .:/app
            - ./.cache:/root/.cache
        working_dir: /app
        environment:
            npm_config_cache: /app/.npm
            CYPRESS_CACHE_FOLDER: /app/.cache
            NODE_ENV: development
        ports:
            - "8080:8080"
        command: npm run development:app

    mongo:
        image: mongo:4.4.24-focal
        ports:
            - "27017:27017"

    redis:
        image: redis:6
        ports:
            - "6379:6379"

    workers:
        image: node:16.20-bullseye
        volumes:
            - .:/app
            - ./.cache:/root/.cache
        working_dir: /app
        environment:
            npm_config_cache: /app/.npm
            CYPRESS_CACHE_FOLDER: /app/.cache
            DEBUG: ${DEBUG}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1'
            EZS_TITLE: 'Lodex internals workers'
            EZS_DESCRIPTION: 'All scripts through a webserver'
            EZS_METRICS: 'true'
            EZS_CONCURRENCY: '4'
            EZS_CONTINUE_DELAY: '60'
            EZS_NSHARDS: '31'
            EZS_CACHE: 'false'
        ports:
            - "31976:31976"
        command: npm run production:workers
        links:
            - mongo
        depends_on:
            - mongo
