npm:
    image: node:7.4.0
    volumes:
        - .:/app
    working_dir: /app
    environment:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: "localhost,127.0.0.1,"
    entrypoint: ['npm']

server:
    build: ./dockerfile/dev
    volumes:
        - .:/app
    working_dir: /app
    environment:
        NODE_APP_INSTANCE: development
        NODE_ENV: development
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: "localhost,127.0.0.1,"
    links:
        - mongo
    ports:
        - 3000:3000

mongo:
    image: mongo:3.0.14
    ports:
        - 27017:27017
