version: '3'

services:
    api:
        image: node:24.13-slim
        extra_hosts:  # for linux hosts since version 20.10
            - "host.docker.internal:host-gateway"
        volumes:
            - .:/app
        working_dir: /app
        environment:
            DEBUG: ${DEBUG:-ezs:*,-ezs:debug}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1,'
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            REDIS_URL: 'redis://redis.lodex-net:6379'
            WORKERS_URL: 'http://workers.lodex-net:31976'
            MONGO_HOST: 'mongod.lodex-net:27017'
            MAILER_HOST: 'maildev.lodex-net:1025'
            PRECOMPUTED_URL: 'http://api.lodex-net:3000'
            CI: ${CI}
        networks:
            - lodex-net
        depends_on:
            - mongod
            - redis
            - workers
            - maildev
        ports:
            - "3000:3000"
            - "9229:9229"  # Enable Nodemon inspect to attach to Docker Node
        command: npm run development:backend
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 4G

    dev-server:  ## Enable hot-reload in development
        image: node:24.13-slim
        volumes:
            - .:/app
        working_dir: /app
        environment:
            NODE_ENV: development
        ports:
            - "8080:8080"
            - "8081:8081"
            - "8082:8082"
            - "8083:8083"
        command: npm run development:app
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 4G

    mongod:
        image: mongodb/mongodb-community-server:8.2.3-ubi9
        command: >-
             mongod
             --config /etc/mongod.conf
             --replSetMember=mongod.lodex-net:27017
        ports:
            - "27017:27017"
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - mongod_data:/data/db
            - ./etc/mongod.conf:/etc/mongod.conf:ro
            - ./bin/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
        networks:
            - lodex-net
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 1G
    mongot:
        image: mongodb/mongodb-community-search:latest
        entrypoint:
            - /mongot-community/mongot
            - --config=/mongot-community/config.default.yml
            - --internalListAllIndexesForTesting=true
        networks:
            - lodex-net
        volumes:
            - mongot_data:/data/mongot
            - ./etc/mongot.conf:/mongot-community/config.default.yml
            - ./etc/pwfile:/mongot-community/pwfile:ro
        depends_on:
            - mongod
        ports:
            - 27028:27028  # Query server port from config
            - 9946:9946    # Metrics port from config
    redis:
        image: redis:6
        ports:
            - "6379:6379"
        networks:
            - lodex-net
        deploy:
            resources:
                limits:
                    cpus: '1'
                    memory: 1G
    workers:
        image: node:24.13-slim
        extra_hosts:  # for linux hosts since version 20.10
            - "host.docker.internal:host-gateway"
        volumes:
            - .:/app
        working_dir: /app
        environment:
            DEBUG: ${DEBUG:-ezs:*,-ezs:debug}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1'
            EZS_TITLE: 'Lodex internals workers'
            EZS_DESCRIPTION: 'All scripts through a webserver'
            EZS_METRICS: 'true'
            EZS_CONCURRENCY: '4'
            EZS_CONTINUE_DELAY: '60'
            EZS_NSHARDS: '31'
            EZS_CACHE: 'false'
        ports:
            - "31976:31976"
        networks:
            - lodex-net
        command: npm run production:workers
        depends_on:
            - mongod
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 2G
    maildev:
        image: maildev/maildev
        ports:
            - "1080:1080"
            - "1025:1025"
        networks:
            - lodex-net
volumes:
    mongod_data:
    mongot_data:

networks:
    lodex-net:
        name: lodex-net
