version: '3'

services:
    lodex:
        build:
            context: cnrsinist/lodex:16.10.0-beta.0
        environment:
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            NODE_OPTIONS: ${NODE_OPTIONS}
            no_proxy: ${https_proxy}
            ROOT_LOGIN: ${ROOT_LOGIN}
            ROOT_PASSWORD: ${ROOT_PASSWORD}
            PRECOMPUTED_URL: ${PRECOMPUTED_URL}
            # Prefix commun à toutes les instances,
            # équivalent du technical name avec ezmaste
            MONGO_DATABASE_PREFIX: ${MONGO_DATABASE_PREFIX}
            MONGO_HOST: 'mongo:27017'
        links:
            - mongo
        ports:
            - "3000:3000"
    mongo:
        image: mongodb/mongodb-community-server:7.0.9-ubi9
        ports:
            - "27017:27017"
