version: '3'

services:
    api:
        build:
            context: .
            args:
                node_env: e2e
        environment:
            NODE_ENV: 'e2e'
            npm_config_cache: /app/.npm
            CYPRESS_CACHE_FOLDER: /app/.cache
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            EZMASTER_MONGODB_HOST_PORT: mongo:27017
            EXPOSE_TEST_CONTROLLER: 'true'
            REDIS_URL: 'redis://redis:6379'
            WORKERS_URL: 'http://workers:31976'
        links:
            - mongo
            - redis
            - workers
            - maildev
        depends_on:
            - mongo
            - redis
            - workers
            - maildev
        ports:
            - "3000:3000"
        volumes:
            - ./cypress/mocks/external:/app/external
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 4G

    istex-api:
        image: node:22.12-bookworm
        volumes:
            - .:/app
            - ./.cache:/root/.cache
        working_dir: /app
        environment:
            NODE_ENV: 'test'
        ports:
            - "3011:3011"
        command: node --require @babel/register ./cypress/mocks/istexApi.js
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 2G

    mongo:
        image: mongodb/mongodb-community-server:7.0.9-ubi9
        ports:
            - "27017:27017"
        deploy:
            resources:
                limits:
                    cpus: '2'
                    memory: 1G
    data-computer:
        image: cnrsinist/ws-data-computer:2.18.1
        extra_hosts: # for linux hosts since version 20.10
            - host.docker.internal:host-gateway
        links:
            - api

    maildev:
        image: maildev/maildev
        ports:
            - "1080:1080"
            - "1025:1025"
