version: '3'

services:
    api:
        build:
            context: .
            dockerfile: Dockerfile.spec
            args:
                node_env: e2e
        environment:
            NODE_ENV: 'e2e'
            EZMASTER_PUBLIC_URL: ${EZMASTER_PUBLIC_URL}
            EZMASTER_MONGODB_HOST_PORT: mongo:27017
            EXPOSE_TEST_CONTROLLER: 'true'
            REDIS_URL: 'redis://redis:6379'
            WORKERS_URL: 'http://workers:31976'
        links:
            - mongo
            - redis
            - workers
        depends_on:
            - mongo
            - redis
            - workers
        ports:
            - "3000:3000"
        volumes:
            - ./cypress/mocks/external:/app/external

    istex-api:
        image: node:14
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            NODE_ENV: 'test'
        ports:
            - "3011:3011"
        command: node --require @babel/register ./cypress/mocks/istexApi.js

    mongo:
        image: mongo:4.4.4-bionic
        ports:
            - "27017:27017"

    redis:
        image: redis:6
        ports:
            - "6379:6379"

    workers:
        image: node:14
        volumes:
            - .:/app
        working_dir: /app
        user: '${UID}:${GID}'
        environment:
            DEBUG: ${DEBUG}
            NODE_ENV: ${NODE_ENV}
            NODE_OPTIONS: ${NODE_OPTIONS}
            http_proxy: ${http_proxy}
            https_proxy: ${https_proxy}
            no_proxy: 'localhost,127.0.0.1'
            EZS_TITLE: 'Lodex internals workers'
            EZS_DESCRIPTION: 'All scripts through a webserver'
            EZS_METRICS: 'true'
            EZS_CONCURRENCY: '4'
            EZS_CONTINUE_DELAY: '60'
            EZS_NSHARDS: '31'
            EZS_CACHE: 'false'
        ports:
            - "31976:31976"
        command: npm run production:workers
        links:
            - mongo
        depends_on:
            - mongo
