.yasgui.hasFullScreen {
    z-index: 20000;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-5px);
    margin-bottom: 10px;
    margin-top: 10px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(-50px);
    text-align:  center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#links > a {
    margin: 2px 15px;
    color: #458CA5;
    font-size: 14px;
}

#links > a:hover {
    text-decoration: underline;
}

.btn, .btn:focus {
    color: #458CA5;
    border: 1px solid #458CA5;
    border-radius: 0;
    background-color: transparent;
    transition: color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 4px;
}

.btn:hover, .btn:focus:hover {
    border-color: #000;
    color: black;
    background-color: #C4D733;
}

.dropdown-open .dropdown-menu {
    display: block;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    max-height: 400px;
    max-width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu div {
    padding: 3px 7px;
    margin-right: 5px;
    white-space: nowrap;
}

.dropdown-menu div input {
    margin-right: 5px;
    cursor: pointer;
}

.dropdown-menu div label {
    cursor: pointer;
}

.dropdown-open .dropdown-toggle {
    border-color: #000;
    color: black;
    background-color: #C4D733;
}

.dropdown-toggle .caret {
    margin-left: 10px;
    margin-bottom: 5px;
}

.popupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px; left: 110px; right: 0px; bottom: 0px;
    background-color: #242b3299;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.showPopup {
    visibility: visible;
    opacity: 1;
}

.hidePopup {
    transition: opacity 0.5s ease, visibility 0s ease 0.5s;
}

.popup {
    max-width: 900px;
    min-width: 500px;
    width: 50vw;
    border: 1px solid #242b32;
    color: #242b32;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transform: translateY(-25vh);
    transition: transform 0.5s;
}

.showPopup .popup {
    transform: translateY(-10px);
}

.popupHeader {
    padding: 10px;
    border-bottom: 1px solid #AAA;
}

.popupTitle {
    padding: 10px;
    font-weight: bolder;
}

.closePopup {
    position: absolute;
    right: 12px;
    top : 12px;
    cursor: pointer;
}

.closePopup img {
    width: 20px;
    height: 20px;
}

.popupOptions {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
    border-bottom: 1px solid #AAA;
}

#showTags {
    margin: 5px;
}

#searchExamples {
    flex-grow: 1;
    border: 1px solid black;
    margin: 5px;
    background-color: transparent;
    padding: 2px 5px;
    outline: none;
}

.popupBody{
    padding: 0px;
    height: 35vh;
    overflow-y: scroll;
}

.popupBody-noscroll{
    overflow-y: hidden;
}

.popupFooter {
    border-top: 1px solid #AAA;
    padding: 10px;
    text-align: right;
}

.popupBtn, .popupBtn:focus {
    margin: 0;
}

#examples {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exampleItem {
    transition: background-color 0.3s;
    padding: 4px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.exampleItem:first-child {
    margin-top: 10px;
}

.exampleItem:last-child {
    margin-bottom: 20px;
}

.exampleItem:hover {
    background-color: rgba(0,0,0,.1);
}

.exampleItem input[type="radio"]{
    margin-right: 10px;
    vertical-align: top;
}

.exampleItem .title {
    display: inline-block;
    margin: 0;
}

.exampleItem .description {
    font-style: italic;
    font-size: 13px;
    margin-left: 30px;
    margin-right: 10px;
    padding-top: 2px;
}

.exampleItem .tags {
    margin-left: 30px;
}

.exampleItem .tags .tag {
    font-style: oblique;
    font-size: 11px;
    color: #fff;
    background-color: #458CA5;
    border-radius: 5px;
    margin-right: 5px;
    font-style: normal;
}

#examples hr {
    border-color: #CCC;
    background-color: #CCC;
    color: #CCC;
    margin: 30px 25px;
}

#popupDiagram {
    cursor: zoom-out;
}

#diagramImg {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    transform: scale(0.33);
    transition: transform 1s;
}

#popupDiagram.showPopup #diagramImg {
    transform: scale(1);
}

#dumpsFrame {
    width: 100%;
    height: 100%;
}