@font-face {
    font-family: "IBM Plex Sans-medium";
    src: local(IBM Plex Sans-medium),
        url("../fonts/IBMPlexSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans semibold";
    src: local(IBM Plex Sans semibold),
        url("../fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "IBM Plex Sans bold";
    src: local(IBM Plex Sans bold),
        url("../fonts/IBMPlexSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
