@import url("fonts-style.css");

body {
	background: url("../img/bg_projets.jpg") repeat-x;
	opacity: 1
}

@media (min-width:794px) {
	body {
		background-size: 100%
	}

	h1 {
		font-size: 1.8rem
	}

	h2 {
		font-size: 1.5rem
	}

	div.dataset-characteristics>div>div.property.format_title:nth-child(2) {
		margin: -10rem auto 1rem 3rem;
		padding: 2rem 4rem !important
	}

	.header-dataset-section {
		margin-top: 8rem
	}

	.container,
	.container-fluid {
		width: 95% !important
	}

	div.breadcrumb-root {
		width: 95%;
		margin: -5rem auto 0
	}

	div.breadcrumb-trail {
		height: 60px
	}

	div.breadcrumb-trail a:not([href*="https"]):last-child {
		position: absolute;
		top: 2rem;
		width: max-content;
		max-width: 70%;
		margin: 1.5rem auto 0 2.5rem
	}
}

@media only screen and (min-width:481px) and (max-width:793.9px) {
	body {
		background-size: 100%
	}

	header.container {
		width: 95%
	}

	h1 {
		font-size: 1.5rem
	}

	div.breadcrumb-root {
		margin: -5rem auto 0
	}

	div.breadcrumb-trail {
		height: 60px
	}

	div.breadcrumb-trail a:not([href*="https"]):last-child {
		position: absolute;
		top: 2rem;
		width: max-content;
		max-width: 70%;
		margin: 1.5rem auto 0 5rem
	}

	div.dataset-characteristics>div>div.property.format_title:nth-child(2) {
		margin: -8rem 1rem 0;
		padding: 1rem 2rem !important
	}

	.header-dataset-section {
		margin-top: 6rem
	}
}

@media only screen and (max-width:480px) {
	body {
		background-size: 120%
	}

	h1 {
		font-size: 1.2rem
	}

	h2 {
		font-size: 1rem
	}

	header #logos {
		margin: 0 auto
	}

	div.breadcrumb-root {
		margin: -1.5rem auto 0;
		padding: 0 1.6rem
	}

	div.breadcrumb-trail {
		height: 0
	}

	div.breadcrumb-trail a[href*="https"] {
		display: none
	}

	div.breadcrumb-trail a:not([href*="https"]):last-child {
		margin: 0 auto 0 1rem;
		width: max-content
	}

	footer ul {
		flex-direction: column
	}

	div.dataset-characteristics>div>div.property.format_title:nth-child(2) {
		margin: -8rem 1rem 0;
		padding: 1rem 1.5rem !important
	}

	.header-dataset-section {
		margin-top: 6rem
	}
}

*,
*::before,
*::after {
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #434148
}

a {
	color: #337ab7;
	background-color: transparent;
	text-decoration: none
}

a:hover {
	color: #23527c;
	text-decoration: underline
}

h1 {
	font-family: "Barlow Medium";
	color: #14134f
}

h2 {
	font-family: "Barlow Light";
	color: #14134f
}

h3 {
	font-family: "Barlow Regular";
	color: #14134f
}

h4 {
	font-family: "Barlow Regular";
	color: #14134f
}

html {
	height: 100%;
	padding: 0;
	margin: 0
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%
}

.wrapper {
	flex-grow: 1
}

footer {
	flex-grow: 0;
	flex-shrink: 0
}

header a.logo,
header a:hover.logo,
header a:focus.logo,
header a:active.logo {
	text-decoration: none;
	color: #fff
}

header a.logocnrs img {
	height: 55px
}

header a.logoinist {
	font-size: .8125rem;
	line-height: normal
}

header a.logoinist>span:first-child {
	font-family: "Barlow Bold";
	font-size: 1.875rem
}

header a.logoinist span.inist {
	font-family: "Barlow Regular";
	font-weight: bold
}

header a.logoinist>span:first-child::after {
	content: "|";
	font-family: "Barlow Regular";
	font-weight: normal;
	opacity: .8;
	padding-left: .5rem;
	padding-right: .5rem
}

header {
	background-color: transparent;
	margin: 1rem auto 2rem
}

header>*,
div.breadcrumb-trail a[href*="https"] {
	background-color: rgba(24, 20, 79, .6);
	box-shadow: 0 0 10px rgba(24, 20, 79, .9)
}

header div#logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: max-content
}

header a.logocnrs {
	height: 56px
}

header a.logoinist {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 240px;
	margin-left: 20px
}

footer {
	margin-bottom: 90px;
	margin-top: 1rem;
	background-color: #fff
}

footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 1.6rem !important;
	padding-right: 1.6rem !important;
	margin: 5px auto
}

footer ul li {
	flex: 1;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 7px 30px;
	margin: 15px 0
}

footer li a,
footer li a:hover,
footer li a:focus,
footer li a:active {
	font-family: "Gentium", serif;
	font-size: 18px;
	border-bottom: 1px solid rgba(95, 177, 225, .5);
	color: #434148;
	text-decoration: none
}

footer li#lodex::before {
	width: 30px;
	height: 30px;
	content: " ";
	background: #fff left center no-repeat scroll url("/favicon.ico");
	background-size: contain
}

div.breadcrumb-root {
	max-width: 1648px;
	background-color: transparent;
	position: relative
}

div.breadcrumb-root>svg,
div.breadcrumb-root span {
	display: none
}

div.breadcrumb-trail {
	width: 100% !important;
	text-align: right
}

div.breadcrumb-trail a[href*="https"]._zfmrqt {
	color: white !important;
	font-variant: all-petite-caps;
	font-family: "Barlow Regular";
	font-weight: bold;
	padding: 10px 0 2px;
	border-bottom: 2px solid transparent;
	white-space: nowrap;
	margin: 0 8px
}

div.breadcrumb-trail a[href*="https"]:hover,
div.breadcrumb-trail a[href*="https"]:focus,
div.breadcrumb-trail a[href*="https"]:active {
	border-bottom: 2px solid rgba(35, 174, 255, 1)
}

div.breadcrumb-trail a[href*="https"]::after,
footer li a[href*="https"]::after {
	content: "";
	display: inline-flex;
	width: 1rem;
	height: 1rem;
	margin-left: 5px;
	background-color: transparent;
	background-image: url("../img/external-link-alt.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 1rem
}

div.breadcrumb-trail a[href*="https"]::after {
	filter: invert(100%)
}

footer li a[href*="https"]::after {
	background-image: url("../img/external-link-alt_gris.svg")
}

div.breadcrumb-trail a:not([href*="https"]):last-child {
	display: flex;
	border: 1px dotted rgb(224, 224, 224);
	border-bottom: white;
	background: white;
	justify-content: center;
	padding: 1rem
}

div.breadcrumb-trail a:not([href*="https"]):last-child::before {
	content: " ";
	background-image: url("../img/home.svg");
	background-repeat: no-repeat;
	background-position-y: center;
	width: 1.3rem;
	margin-right: .5rem
}

div.breadcrumb-trail a:not([href*="https"]):last-child {
	text-align: center;
	color: rgb(43, 131, 186) !important;
	font-family: "Barlow Medium";
	font-size: 1.2rem;
	font-weight: normal
}

div.breadcrumb-trail a:not([href*="https"]):last-child:hover,
div.breadcrumb-trail a:not([href*="https"]):last-child:focus,
div.breadcrumb-trail a:not([href*="https"]):last-child:active {
	text-decoration: underline 2px rgb(35, 174, 255);
	text-underline-offset: 5px
}

.css-oa9bdm {
	text-align: initial !important
}

div.dataset-characteristics>div>div.property.format_title:nth-child(2) {
	background-color: white;
	border: 1px dotted rgb(224, 224, 224);
	border-bottom: white;
	text-align: initial !important
}

.dataset-characteristics>div>.property,
.graph-page .property,
.resource .property {
	padding: 1rem .5rem 0 !important
}

div.property_label_container {
	max-width: 90%
}

div span.property_label {
	font-family: "Barlow Medium" !important;
	font-weight: normal !important;
	color: #434148 !important
}

div.resource span.property_label {
	font-size: 1rem !important;
	border-bottom: 1px dotted var(--neutral-dark-light)
}

div span.property_label:empty {
	border-bottom: none
}

.linked_fields {
	border-left: none !important
}

.linked_fields h2 {
	border-left: none;
	margin-left: 0 !important
}

.linked_fields a.VoirPlus {
	display: block;
	margin: 0 auto
}

.resources-grid-list {
	background-color: rgba(229, 229, 229, .17)
}

div.dataset-characteristics div.format_title .property_value_container .linked_fields {
	margin: 0 !important
}

#root div.body nav {
	box-shadow: 0px -5px 3px rgba(0, 0, 0, .2);
	background-image: url("../img/bg_neutre.jpg")
}

.dataset-characteristics>div:last-child,
div.main-resource-section>div>div:last-child,
nav img._1m2up2 {
	display: none
}

.container,
.container-fluid {
	width: 100%;
	max-width: 1700px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0
}

._1dzy633 {
	padding-bottom: 0 !important
}

.body>.MuiPaper-root,
.body>div div.dataset-characteristics,
.body>div div.resource,
.body>div div.static-page,
.body .graph-container {
	padding-left: 1.6rem;
	padding-right: 1.6rem
}

.body>div div.dataset-characteristics,
.body>div div.resource,
.body>div div.static-page,
.body .graph-container {
	background-color: white
}

.dataset-characteristics>div:first-child {
	justify-content: space-between
}

.body>div div.resource,
.body .graph-container {
	padding-bottom: 1rem;
	margin: 30px auto
}

.body .graph-container {
	padding-top: 3rem
}

.stats {
	height: auto !important;
	line-height: 1.2rem !important;
	padding: 1rem 0;
	margin: 1rem auto 1rem 1%
}

.static-page {
	display: flex;
	flex-flow: column wrap;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin: 30px auto
}

.static-page p {
	margin-left: 2rem
}

.bl3 {
	border-left: 3px solid #23aeff;
	padding-left: 30px
}
h1.bl3 {
    color: #fff;
}


.tiret::before,
.static-page h2::before {
	content: "—";
	padding-right: 20px;
	font-weight: bold
}

.bb {
	border-bottom: 1px solid rgba(170, 170, 170, .2)
}

.bt {
	border-top: 1px solid rgba(170, 170, 170, .2)
}

.bg {
	background-color: rgba(229, 229, 229, .17)
}

a.VoirPlus {
	color: #434148;
	margin: 15px 0 15px 0;
	padding: 15px 20px;
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: 1px solid #23aeff;
	width: max-content;
	text-decoration: none
}

a.VoirPlus:hover,
a.VoirPlus:focus {
	box-shadow: 0 0 0 1px #23aeff
}
