@import url('fonts-style.css');
/*lodex theme_inist lodex14*/
/* MOBILE FIRST*/
@media (min-width: 794px) {
    :root {
        --logosSansMarge: 70px;
        --height-header: calc(
            var(--logosSansMarge) + var(--height-breadcrumb)
        ) !important;
    }
    /*breadcrumb titre court*/
    .breadcrumb-root {
        margin-top: var(--logosSansMarge) !important;
    }
    /* titre courant box*/
    .breadcrumb-trail a:not([href*='https']):last-child {
        padding-left: 3rem;
        margin-right: 4.6rem;
    }
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    div.dataset-characteristics > div > div.property:nth-child(2) {
        padding: 0 4rem !important;
    }
    /*lodex content*/
    /*petite marge full screen*/
    .container,
    .container-fluid {
        width: 95% !important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 793.9px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 480px) {
    :root {
        --height-header: var(--height-logos) !important;
    }
    .breadcrumb-root {
        display: none !important;
    }
    /*fonts hierarchie */
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1rem;
    }
    footer ul {
        flex-direction: column;
    }
}
/* PROP COMMUNES */
:root {
    --font-titre: IBM Plex Sans bold, Arial, Helvetica, sans-serif;
    --font-texte: Satoshi Regular, Arial, Helvetica, sans-serif;
    --height-logos: 108px; /*calc(76px+32px)marges*/
    --height-breadcrumb: 50px;
    --height-header: calc(var(--height-logos) + var(--height-breadcrumb));
}
/* text : font, size, color*/
body {
    margin: 0;
    font-family: var(--font-texte) !important;
    font-size: 1rem;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--text-primary) !important;
}
a {
    color: var(--text-primary);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline 2px var(--info-main);
}
/*Hierarchie et style titres*/
h1 {
    font-family: var(--font-titre);
    color: var(--text-primary);
}
h2 {
    font-family: var(--font-titre);
    color: var(--text-primary);
}
h3 {
    font-family: var(--font-titre);
    color: var(--text-primary);
}
h4 {
    font-family: var(--font-titre);
    color: var(--text-primary);
    font-style: italic;
}
/*structure generale*/
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg_projets.jpg');
    background-repeat: repeat-x;
    background-position: top left;
    opacity: 1;
}
/*header theme inist*/
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary-main);
    background-image: url('../img/bg_projets.jpg');
    background-repeat: repeat-x;
    background-position: top left;
    opacity: 1;
    z-index: 1100;
    margin: 0;
    height: var(--height-header);
}
header div.container {
    padding: 1rem 0 1rem;
    display: flex;
    gap: 10%;
    max-width: 1670px !important;
}
header div.container * {
    color: var(--primary-contrast-text);
}
header div#logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}
header a.logocnrs {
    height: 56px;
    padding-right: 30px;
}
header a.logocnrs img {
    height: 55px;
}
header a.logoinist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
}
/*header font decoration*/
header a.logo,
header a:hover.logo,
header a:focus.logo,
header a:active.logo {
    text-decoration: none;
}
header a.logoinist {
    font-size: 0.8125rem;
    line-height: normal;
}
header a.logoinist > span:first-child {
    font-family: 'Satoshi-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
}
header a.logoinist span.inist {
    font-family: 'Satoshi-Regular', Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header a.logoinist > span:first-child::after {
    content: '|';
    font-family: 'Satoshi-Regular', Arial, Helvetica, sans-serif;
    font-weight: normal;
    opacity: 0.8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*text header bg fonce sur img bg body*/
header #logos, header #titre_lodex/*,
.breadcrumb-trail a[href*="https"]*/ {
    background-color: rgba(24, 20, 79, 0.6);
    box-shadow: 0px 0px 10px rgba(24, 20, 79, 0.9);
}
/*footer theme inist*/
footer {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 90px;
    margin-top: 1rem;
    background-color: #fff;
}
footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    margin: 5px auto;
}
footer ul li {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 7px 30px;
    margin: 15px 0;
}
footer li a,
footer li a:hover,
footer li a:focus,
footer li a:active {
    font-family: var(--font-texte);
    font-size: 18px;
    border-bottom: 1px solid var(--info-main);
    color: #434148;
    text-decoration: none;
}
footer li a[href*='https']::after {
    background-image: url('../img/external-link-alt_gris.svg');
}
footer li#lodex::before {
    width: 30px;
    height: 30px;
    content: ' ';
    background: #fff left center no-repeat scroll url('/favicon.ico');
    background-size: contain;
}

/*ELEMENTS LODEX structure*/
/*padding et fond descendent 3 noeuds*/
/*breadcrumb au niveau header fond transparent*/
#root {
    min-height: 85vh;
}
.container,
.container-fluid {
    width: 100%;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
/*connexion*/
.body > .MuiPaper-root {
    margin-top: var(--height-header);
    padding: 3rem;
}
/*annul reserve pour nav bas de pages lodex (sur footer)*/
._1dzy633 {
    padding-bottom: 0 !important;
}
/*pages+drawers margin padding fond blanc*/
div.dataset-characteristics,
div.resource,
.static-page,
.graph-container,
.drawer._13un6rc {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
/*header+breadcrumb fixed*/
div.dataset-characteristics,
div.resource,
div.static-page,
.graph-page.graph-container {
    margin-top: var(--height-header) !important;
    padding-top: 2rem;
    background-color: white;
}
/*drawer entre header et nav fixed*/
.drawer-drawerOpen._13un6rc {
    top: 12vh !important;
    height: -webkit-calc(100vh - 12vh - 80px) !important ;
    height: -moz-calc(100vh - 12vh - 80px) !important;
    height: calc(100vh - 12vh - 80px) !important;
    border-top: 1px solid #e3eaf2 !important;
    box-shadow: 0 2px 1rem #777 !important;
    z-index: 1270 !important;
    padding-top: 3rem;
}
/*position sous header*/
/*WIDTH : breadcrumb-root idem nav + container*/
.breadcrumb-root {
    z-index: 1220;
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--height-logos) auto 0;
    padding: 0;
    width: 100vw;
    max-width: 1700px;
    background-color: transparent;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    height: var(--height-breadcrumb);
}
.breadcrumb-root > svg {
    z-index: inherit;
    margin-right: -30px !important;
}
.breadcrumb-root span {
    display: none;
}
/*idem .container*/
.breadcrumb-trail {
    margin: 0 !important;
    height: max-content;
    display: flex;
    justify-content: flex-end;
}
/*breadcrumb titre court et liens externes*/
/* titre courant box*/
.breadcrumb-trail a:not([href*='https']):last-child {
    display: flex;
    align-items: end;
    background-color: white;
    padding: 0 3rem;
    height: 50px;
    width: max-content;
}
/*titre courant texte*/
.breadcrumb-trail a:not([href*='https']):last-child {
    color: var(--text-primary) !important;
    font-family: var(--font-titre);
    font-size: 1.2rem;
    font-weight: normal;
}
/*titre court clicable*/
.breadcrumb-trail a:not([href*='https']):last-child:hover,
.breadcrumb-trail a:not([href*='https']):last-child:focus,
.breadcrumb-trail a:not([href*='https']):last-child:active {
    text-decoration: underline 2px var(--info-main);
    text-underline-offset: 5px;
}
/*external links*/
.breadcrumb-trail a[href*='https'] {
    display: none;
}
/*barre nav lodex*/
#root div.body nav {
    box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.2);
}
/* les paves de données*/
.dataset-characteristics > div > .property:not(.titreInstance),
.graph-page .property,
.resource .property {
    padding: 1rem 0.5rem 0 !important;
}
/*lodex Etiquette : home, graph,resource titre champs, graphs titre*/
div.property_label_container {
    max-width: 90%;
}
div span.property_label {
    font-family: var(--font-titre) !important;
    font-weight: normal !important;
    color: var(--neutral-dark-secondary) !important;
}
div span.property_label:empty {
    border-bottom: none;
}
a.VoirPlus {
    display: block;
    margin: 0 auto;
}
/*ul fond charte inist */
.resources-grid-list {
    background-color: rgba(229, 229, 229, 0.17);
}
/*home spec*/
.dataset-characteristics > div:first-child {
    justify-content: space-between;
    padding-top: 0 !important;
}
/*TITRE instance*/
div.dataset-characteristics > div > div.property:nth-child(2) {
    padding: 0 3rem !important;
    margin: 0 !important;
    width: max-content;
    padding: 0 1rem;
    background-color: white;
    text-align: initial !important;
    box-sizing: border-box;
    background-color: white;
}
/* PAGE resource et graph*/
.body > div div.resource,
.body .graph-container {
    padding-bottom: 1rem;
}
/*resource titres champs*/
div.resource span.property_label {
    font-size: 1rem !important;
    border-bottom: 1px dotted var(--neutral-dark-light);
}
/*barre search*/
.searchbar-container fieldset,
.searchbar-container fieldset:hover {
    border-color: var(--primary-main);
}
/*facets page graph, drawer search*/
/*facettes*/
ul.MuiList-root.facets-list {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-main);
    flex-shrink: 0;
    border-radius: 4px;
    min-width: 370px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    flex: 1.2;
}
/*facette filtre*/
ul.MuiList-root.facets-list > li {
    background-color: transparent;
    border-bottom: 1px solid var(--neutral-dark-light);
}
/*facette filtre plier-deplier*/
/*.css-yb0lig*/
ul.MuiList-root.facets-list > li span.MuiListItemText-primary {
    font-weight: 600;
}
ul.MuiList-root.facets-list > li .MuiGrid-root.MuiGrid-container {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 0 16px 5px;
}
ul.MuiList-root.facets-list
    > li
    .MuiGrid-root.MuiGrid-container
    > .MuiGrid-item {
    display: flex;
    color: var(--primary-main);
}
ul.MuiList-root.facets-list
    > li
    .MuiGrid-root.MuiGrid-container
    > .MuiGrid-item
    svg {
    font-size: 1.8rem;
}
/*facet flitre list valeurs */
ul.MuiList-root.facets-list > li .facet-value-list {
    padding: 8px 16px 16px;
    background-color: var(--contrast-main);
}
ul.MuiList-root.facets-list > li .facet-value-list svg {
    font-size: 1.8rem;
}
/*search-result*/
.search.search-container .search-content {
    background-color: white !important;
}
.search.search-container .search-content .search-result-link > div {
    border: 1px solid var(--info-main);
}
.search.search-container .search-content .search-result-link > div:hover {
    background-color: var(--neutral-main);
}
.search.search-container
    .search-content
    .search-result-link
    > div:hover
    .search-result-title {
    color: var(--info-main);
}
/*nb de doc résultats stats*/
.stats {
    height: auto !important;
    line-height: 1.2rem !important;
    padding: 1rem 0;
    margin: 1rem auto 1rem 1%;
}
/*static-page reprend prop page home*/
.static-page {
    display: flex;
    flex-flow: column wrap;
    padding-top: var(--height-header);
    padding-bottom: 1rem;
    margin: 30px auto;
}
.static-page p {
    margin-left: 2rem;
}
/*CHARTE inist*/
/*element de charte inist class a disposition*/
/*bordure violette verticale titre 2*/
.bl3 {
    border-left: 3px solid var(--info-main);
    padding-left: 30px;
}
.tiret::before,
.static-page h2::before {
    content: '—';
    padding-right: 20px;
    font-weight: bold;
}
.bb {
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.bt {
    border-top: 1px solid rgba(170, 170, 170, 0.2);
}
/*fond rose*/
.bg {
    background-color: rgba(229, 229, 229, 0.17);
}
/*a "voir plus" charte inist */
a.VoirPlus {
    color: var(--text-primary);
    margin: 15px 0 15px 0;
    padding: 15px 20px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--info-main);
    width: max-content;
    text-decoration: none;
}
a.VoirPlus:hover,
a.VoirPlus:focus {
    box-shadow: 0px 0px 0px 1px var(--neutral-dark-light);
}
