<!DOCTYPE html>
<html>

<head>
  <title>Lodex - CNRS Inist</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="apple-touch-icon" sizes="180x180" href="<%= theme.base.href %>/themes/inist/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= theme.base.href %>/themes/inist/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= theme.base.href %>/themes/inist/favicon-16x16.png">
  <link rel="manifest" href="<%= theme.base.href %>/themes/inist/site.webmanifest">
  <link rel="mask-icon" href="<%= theme.base.href %>/themes/inist/safari-pinned-tab.svg" color="#ffc40d">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffc40d">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <link rel="stylesheet" href="<%= theme.base.href %>/themes/inist/styles.css" />
  <link rel="stylesheet" href="<%= theme.base.href %>/themes/inist/css/inist-styles.css" />
</head>

<body>
  <header class="container">
    <div>
      <div id="logos">
        <a class="logo logocnrs" href="http://www.cnrs.fr">
          <img src="<%= theme.base.href %>/themes/inist/img/logo_cnrs_2019_blanc.svg" alt="CNRS" />
        </a>
        <a class="logo logoinist" href="https://www.inist.fr" aria-label="accueil du site">
          <span>Inist</span>
          <span class="inist">Institut de l'information scientifique et technique</span>
        </a>
      </div>
      <h1 id="titre_lodex" class="bl3">
          <%= theme.title %>
      </h1>
    </div>
  </header>
  <div id="root" class="container"></div>
  <footer class="bt">
    <ul class="container">
      <li class=" bl3 ">
        <a href="https://www.inist.fr/nous-contacter/" target="_blank" title="Inist contact">Nous contacter</a>
      </li>
      <li class=" bl3 ">
        <a href="https://www.inist.fr/mentions-legales/" target="_blank" title="Inist/Lodex - mentions légales">Mentions
          légales</a>
      </li>
      <li class=" bl3 ">
        <a href="https://www.lodex.fr/docs/documentation" target="_blank" title="Lodex documentation">Lodex
          Documentation</a>
      </li>
    </ul>
  </footer>
</body>

</html>
