*,
*::before,
*::after {
    box-sizing: border-box;
}
/* theme lodex 'voscouleurs' */
/* modifiable depuis votre lodex/admin/configuration */
/* author : helene creusot */
/* developpeur : pierre marcolet */
/* pour nos partenaires */
/* CNRS Inist - juin 2024 */

/*config*/
/*"color": {
--bgBody: <%= custom.color.bgBody %>;
--bgHeader: <%= custom.color.bgHeader %>;
--titleHeader: <%= custom.color.titleHeader %>;
--bgContent: <%= custom.color.bgContent %>;
--bgFacet: <%= custom.color.bgFacet %>;
--titles: <%= custom.color.titles %>;
--titleGraph: <%= custom.color.titleGraph %>;
--text: <%= custom.color.text %>;
--icon: <%= custom.color.icon %>;
--iconHover: <%= custom.color.iconHover %>;
--button: <%= custom.color.button %>;
--buttonHover: <%= custom.color.buttonHover %>;
--textContrast: <%= custom.color.textContrast %>;
--bgContrast: <%= custom.color.bgContrast %>;
*/
:root {
    /*search-results : couleur resultat visited*/
    --secondary-main: var(--neutral-dark-secondary) !important;
    --maxWidthXl: 1536px;
}
/*bgBody + text*/
body {
    background-color: var(--bgBody);
    background-image: var(--bgBodyUrl);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--text) !important;
}
/*bgHeader + --titleHeader*/
header {
    background-color: var(--bgBody);
    background-image: var(--bgHeaderUrl);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
header #banner.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5%;
    height: max-content;
    margin: 10px auto;
}
#banner h1,
#banner p {
    color: var(--titleHeader) !important;
    font-family: var(--font-titleHeader) !important;
    font-size: var(--fontSize-titleHeader) !important;
}
header a.logo,
header a.logo img {
    flex: 1;
}
header #banner > :last-child {
    flex: 3;
    text-align: center;
}
/*summary*/
#banner p {
    font-weight: 500;
}
/*structure lodex*/
.container,
.container-fluid {
    width: 100%;
    max-width: var(--maxWidthXl);
    min-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*bgContent*/
#content .container {
    background-color: var(--bgContent);
}
.drawer .search-content {
    padding-left: 1rem;
    padding-right: 1rem;
}
/*bgFacet : facet search et graph*/
.search-content ul.search-facets,
.graph-facets {
    background-color: var(--bgFacet) !important;
}
/* nav lodex */
#root nav {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
}
nav .container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
/*nav logo lodex*/
nav.nav-bar-menu div.nav-bar-container > img {
    display: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title) !important;
}
/*titles*/
h1,
h2 {
    color: var(--titles) !important;
    font-size: var(--fontSize-title) !important;
}
/*titleGraph*/
.property.format_fieldClone .property_label,
.graph-results .MuiCardHeader-content {
    color: var(--titleGraph) !important;
    font-family: var(--font-titleGraph) !important;
    font-size: var(--fontSize-titleGraph) !important;
}
/*link in text*/
a {
    color: var(--text);
}
a:hover {
    color: var(--titles);
    text-decoration: none;
}
/*icon : a+svg*/
a.nav-item,
a.nav-item svg,
a.graph-link,
a.graph-link svg,
.MuiIconButton-root,
.MuiIconButton-root svg {
    color: var(--icon) !important;
    fill: var(--icon) !important;
}
/*iconHover*/
a.nav-item:hover,
a.nav-item:hover svg,
a.graph-link:hover,
a.graph-link:hover svg,
.MuiIconButton-root:hover,
.MuiIconButton-root:hover svg,
.MuiCheckbox-colorPrimary.Mui-checked svg.MuiSvgIcon-root,
.MuiCheckbox-colorPrimary.MuiCheckbox-indeterminate svg.MuiSvgIcon-root {
    color: var(--iconHover) !important;
    fill: var(--iconHover) !important;
}
/*graph-link*/
a.graph-link.graph-summary-link {
    background-color: var(--grey-100) !important;
}
/*graph-link*/
a.graph-link.graph-summary-link:hover {
    background-color: var(--bgContrast) !important;
}
/*button primaire*/
.MuiButton-containedPrimary,
.MuiButton-containedPrimary svg {
    background-color: var(--icon) !important;
    color: var(--textContrast) !important;
    fill: var(--textContrast) !important;
}
.MuiButton-containedPrimary:hover,
.MuiButton-containedPrimary:hover svg {
    background-color: var(--buttonHover) !important;
    color: var(--textContrast) !important;
    fill: var(--textContrast) !important;
}
/*button secondaire*/
.MuiButton-textPrimary,
.MuiButton-textPrimary svg {
    color: var(--icon) !important;
    fill: var(--icon) !important;
}
.MuiButton-textPrimary:hover,
.MuiButton-textPrimary:hover svg {
    background-color: var(--bgContrast) !important;
}
/*facettes : search in facettes*/
.css-134m6vv-MuiInputBase-root-MuiInput-root::after {
    border-bottom-color: var(--buttonHover) !important;
}
/*background search content*/
div._1eoh2kv.search-content {
    background-color: var(--bgContent);
}
/*fieldset active*/
fieldset.MuiOutlinedInput-notchedOutline {
    border-color: var(--icon) !important;
}
.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    border-color: var(--iconHover) !important;
}
.MuiListItemText-secondary {
    background-color: #fff;
}
/*resource feuilletage*/
.resource .nav-button-root {
    background-color: var(--grey-200) !important;
    color: var(--button) !important;
}
.resource .nav-button-root svg {
    fill: var(--button) !important;
}
.resource .nav-button-root:is(:hover, :focus, :active) {
    background-color: var(--grey-100) !important;
    color: var(--buttonHover) !important;
}
.resource .nav-button-root:is(:hover, :focus, :active) svg {
    fill: var(--buttonHover) !important;
}
/*resource : title*/
.header-resource-section .property_value_container > div > div > :first-child {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
/*resource space property*/
.resource .property {
    padding: 0 0.5rem 0 !important;
}
.resource .property .css-oa9bdm {
    padding: 0 0 0 0 !important;
}
.resource .property .property_value_container ul {
    margin: 0 0 0.5rem !important;
}
