@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    src: url(../font/Quicksand/Quicksand-VariableFont_wght.ttf)
        format('ttf-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: oblique 0deg 20deg;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* theme lodex 'voscouleurs' */
/* modifiable depuis votre lodex/admin/configuration */
/* author : helene creusot */
/* developpeur : helene creusot */
/* pour nos partenaires */
/* CNRS Inist - juin 2024 */

/*config*/
/*
"font": {
    --font-titleHeader: <%= custom.font.titleHeader %>;
    --fontSize-titleHeader: <%= custom.font.titleHeaderSize %>;
    --font-title: <%= custom.font.title %>;
    --fontSize-title: <%= custom.font.titleSize %>;
    --font-titleGraph: <%= custom.font.titleGraph %>;
    --fontSize-titleGraph: <%= custom.font.titleGraphSize %>;
    }
"color": {
    --bgBody: <%= custom.color.bgBody %>;
    --bgContrast: <%= custom.color.bgContrast %>;
    --bgHeader: <%= custom.color.bgHeader %>;
    --titleHeader: <%= custom.color.titleHeader %>;
    --bgContent: <%= custom.color.bgContent %>;
    --bgFacet: <%= custom.color.bgFacet %>;
    --titles: <%= custom.color.titles %>;
    --titleGraph: <%= custom.color.titleGraph %>;
    --linkText: <%= custom.color.linkText %>;
    --linkTextHover: <%= custom.color.linkTextHover %>;
    --icon: <%= custom.color.icon %>;
    --iconHover: <%= custom.color.iconHover %>;
    --button: <%= custom.color.button %>;
    --buttonHover: <%= custom.color.buttonHover %>;
    --textContrast: <%= custom.color.textContrast %>;
}
*/
:root {
    /*search-results : couleur resultat visited*/
    --secondary-main: var(--neutral-dark-secondary) !important;
    --maxWidthXl: 1700px;
}
/*bgBody + text*/
body {
    background-color: var(--bgBody);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}
body * {
    font-family:
        Quicksand,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
    font-optical-sizing: auto;
    font-variation-settings: 'GRAD' 88;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*bgHeader + --titleHeader*/
header {
    background-color: var(--bgHeader);
    background-position: top center;
    background-size: cover;
}
header #banner.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5%;
    height: max-content;
    margin: 10px auto;
    padding: 0;
}
#banner h1 {
    color: var(--titleHeader) !important;
    font-family: var(--font-titleHeader) !important;
    font-size: var(--fontSize-titleHeader) !important;
}
#banner p {
    color: var(--titleHeader) !important;
    font-family: var(--font-titleHeader) !important;
}
header a.logo,
header a.logo img {
    flex: 1;
}
header #banner > :last-child {
    flex: 3;
    text-align: center;
}
/*summary*/
#banner p {
    font-weight: 500;
}
#version div {
    padding-bottom: 10px !important;
}
footer {
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 90px;
}
footer p {
    text-align: center;
}
/*structure lodex*/
.container,
.container-fluid {
    width: 100%;
    max-width: var(--maxWidthXl);
    min-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* patch container*/
@media (min-width: 1536px) {
    .css-19r6kue-MuiContainer-root {
        max-width: var(--maxWidthXl) !important;
    }
}
/* drawer container */
.graph-summary-container,
.search.search-container {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media screen and (max-width: 991px) {
    .container,
    .container-fluid,
    .search.search-container,
    .graph-summary-container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
/*bgContent*/
#content .container {
    background-color: var(--bgContent);
}
/* nav lodex */
#root nav {
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
}
nav .container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    color: initial;
    fill: initial;
}
/*nav logo lodex*/
nav.nav-bar-menu div.nav-bar-container > img {
    display: none;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title) !important;
}
/*titles*/
h1,
h2 {
    color: var(--titles) !important;
    font-size: var(--fontSize-title) !important;
}
/*patch graph-page*/
.content_ihqspq.graph-content {
    gap: 0.5rem !important;
}
/*patch graph-header search*/
.header_a4xuhy.graph-header {
    background-color: var(--common-white) !important;}
/*search graph&search page*/
.css-9yxe53-MuiGrid-root {
    margin-top: auto !important;
    width: 100% !important;
    margin-left: auto !important;
}
.css-9yxe53-MuiGrid-root > .MuiGrid-item {
    padding: 0.5rem !important;
}

/*graph search input */
/* -> div.MuiOutlinedInput-root*/
.css-9u5d18-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: var(--contrast-main);
}
/* patch graph search nbr result responsive */
.advanced_17ii5m2.graph-advanced .stats {
    height: auto !important;
}
/*patch graph-results*/
.graph-results {
    padding: 0 0 !important;
}
.graph-results .css-pxbk40-MuiPaper-root-MuiCard-root {
    background-color: var(--contrast-main);
}
/*bgFacet : facet search et graph*/
.search-content ul.search-facets,
ul.graph-facets {
    background-color: var(--bgFacet) !important;
    z-index: 1100;
}
/* patch search */
.content_1eoh2kv.search-content {
    background-color: white !important;
}
/*facettes : search in facettes*/
.css-134m6vv-MuiInputBase-root-MuiInput-root::after {
    border-bottom-color: var(--buttonHover) !important;
}
/*background search content*/
div._1eoh2kv.search-content {
    background-color: var(--bgContent);
}
/*fieldset active*/
fieldset.MuiOutlinedInput-notchedOutline {
    border-color: var(--icon) !important;
}
.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    border-color: var(--iconHover) !important;
}
.MuiListItemText-secondary {
    background-color: #fff;
}
/*titleGraph*/
.property.format_fieldClone .property_label,
.graph-results .MuiCardHeader-content,
.graph-results .property_label {
    color: var(--titleGraph) !important;
    font-family: var(--font-titleGraph) !important;
    font-size: var(--fontSize-titleGraph) !important;
    font-stretch: normal;
}
/*graph-results composed*/
.graph-results .MuiCardHeader-content {
    font-size: calc(var(--fontSize-titleGraph) + 2px) !important;
}
.graph-results .property[class*='compose'] {
    margin: auto;
}
/*etiquette*/
.property_label {
    font-stretch: ultra-condensed;
    font-weight: 500 !important;
    color: var(--grey-600) !important;
}
/*texte*/
.property_value {
    text-align: initial !important;
}
/*link in text*/
a {
    color: var(--linkText) !important;
}
a:is(:hover, :focus) {
    color: var(--linkTextHover) !important;
}
/*icon : a+svg*/
a.nav-item,
a.nav-item svg,
a.graph-link,
a.graph-link svg,
.MuiIconButton-root,
.MuiIconButton-root svg {
    color: var(--icon) !important;
    fill: var(--icon) !important;
}
/*iconHover*/
a.nav-item:hover,
a.nav-item:hover svg,
a.graph-link:hover,
a.graph-link:hover svg,
.MuiIconButton-root:hover,
.MuiIconButton-root:hover svg,
.MuiCheckbox-colorPrimary.Mui-checked svg.MuiSvgIcon-root,
.MuiCheckbox-colorPrimary.MuiCheckbox-indeterminate svg.MuiSvgIcon-root {
    color: var(--iconHover) !important;
    fill: var(--iconHover) !important;
}
/*graph-link*/
a.graph-link.graph-summary-link {
    background-color: var(--grey-100) !important;
}
/*graph-link*/
a.graph-link.graph-summary-link:hover {
    background-color: var(--bgContrast) !important;
}
/*button primaire*/
.MuiButton-containedPrimary,
.MuiButton-containedPrimary svg {
    background-color: var(--icon) !important;
    color: var(--textContrast) !important;
    fill: var(--textContrast) !important;
}
.MuiButton-containedPrimary:hover,
.MuiButton-containedPrimary:hover svg {
    background-color: var(--buttonHover) !important;
    color: var(--textContrast) !important;
    fill: var(--textContrast) !important;
}
/*button secondaire*/
.MuiButton-textPrimary,
.MuiButton-textPrimary svg {
    color: var(--icon) !important;
    fill: var(--icon) !important;
}
.MuiButton-textPrimary:hover,
.MuiButton-textPrimary:hover svg {
    background-color: var(--bgContrast) !important;
    color: var(--buttonHover) !important;
    fill: var(--buttonHover) !important;
}
/*page de ressource*/
/* header-resource-section : pas de format*/
/* choisir en admin format text - titre */

/*resource feuilletage*/
.resource {
    text-align: center;
}
.resource .detail {
    max-width: calc(var(--maxWidthXl) - 200px);
    display: inline-block;
    margin: 0 auto;
}
.resource .detail .main-resource-section > div > div:first-child {
    justify-content: center;
}
@media (min-width: 1900px) {
    .resource-navigation-left.left_9ndhu8 {
        margin-left: 8% !important;
    }
    .resource-navigation-right.right_1c58htc {
        margin-right: 8% !important;
    }
}
.resource .nav-button-root {
    background-color: var(--grey-200) !important;
    color: var(--button) !important;
}
.resource .nav-button-root svg {
    fill: var(--button) !important;
}
.resource .nav-button-root:is(:hover, :focus, :active) {
    background-color: var(--grey-100) !important;
    color: var(--buttonHover) !important;
}
.resource .nav-button-root:is(:hover, :focus, :active) svg {
    fill: var(--buttonHover) !important;
}
/*resource space property*/
.resource .property {
    padding: 0 0.5rem 0 !important;
}
.resource .property .css-oa9bdm {
    padding: 0 0 0 0 !important;
}
.resource .property .property_value_container ul {
    margin: 0 0 0.5rem !important;
}
