{
    "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
],
  "env": {
      "test": {
          "presets": [
              ["env", {
                  "targets": {
                      "browsers": ["last 2 versions"]
                  },
                  "modules": false,
                  "useBuiltIns": true,
              }],
              "react"
          ],
      }
  }
}
