/* css pour corpus scientifiques */
/* by Helene Creusot */
/* juin 2025 */

/*home largeur*/
#content > div.container {
    max-width: var(--maxWidth) !important;
    margin: auto !important;
}

/*property sans marge basse*/
.property {
    margin-bottom: 0;
    padding: 1rem 0.5rem 0.5rem !important;
}
/*label souligne*/
.property span.property_label[style*='color: rgb(158, 158, 158)']:not(:empty) {
    border-bottom: 1px solid;
}

/*code en fond gris*/
code {
    background-color: var(--gris3);
    padding: 5px;
}
/*nav barre lodex*/
nav.nav-bar-menu {
    background-color: var(--canard3);
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.4);
}
