/***************************/
/*div[class*='HomeContentSidebar'] */
/* fond blanc casse + decor */
div[class*='HomeContentSidebar'] {
    background-color: var(--primary-very-light);
    background-image: url('../img/svgfond.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    padding: 0 !important;
    width: 100% !important;
}
/*s'il est en fin de home*/
.dataset-characteristics
    > div
    > div.property[class*='HomeContentSidebar']:last-child {
    margin-bottom: 0rem !important;
}
div[class*='HomeContentSidebar'] .MuiBox-root.css-oa9bdm {
    padding: 0 !important;
}
/*Home div[class*='HomeContent'] et*/
/*Home div[class*='HomeSidebar']*/
div[class*='HomeContentSidebar'] div[class*='designHomeContent'],
div[class*='HomeSidebar'] {
    width: auto !important;
    margin-bottom: 0 !important;
    padding: 5rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Home texte principal*/
/* div[class*='HomeContent']*/
div[class*='HomeContentSidebar'] div[class*='HomeContent'] {
    flex: 2;
    background-color: transparent !important;
}
/*contents home label = titre as h2*/
/*a eviter car probleme indexation par robots cause pas de semantique html*/
/*.dataset-characteristics
    div
    span.property_label[style*='color: rgb(158, 158, 158)']:not(:empty) {
    font-size: 2rem !important;
    line-height: 3.4rem;
    font-weight: 700 !important;
    color: var(--text-main) !important;
    padding: 3rem 0 20px;
}*/
/*sauf le premier titre*/
/*div[class*='HomeContent']
    > div.property_label_container
    span.property_label[style*='color: rgb(158, 158, 158)'] {
    font-size: 2.8rem !important;
    padding: 0 0 3rem;
}
span.property_label:empty {
    padding: 0;
}*/
/********************/
/* home ou resource */
/* liste en pave    */
/********************/
/* ul istex en pave*/
/* syndication*/
div[class*='ListePave'] ul,
ul.resources-grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem !important;
}
/*reset lodex style*/
div[class*='ListePave'] li *,
li.resources-grid-item,
li.resources-grid-item * {
    padding: 0;
    margin: 0;
    background: transparent;
    box-shadow: none;
    border: 0px;
    text-decoration: none !important;
}
div[class*='ListePave'] li,
li.resources-grid-item {
    width: 330px;
    height: 100px;
    border-radius: 4px;
    padding: 2rem !important;
}
div[class*='ListePave'] li a,
li.resources-grid-item a {
    display: block;
    overflow: hidden;
}
[class*='ListePave'] li a > div,
li.resources-grid-item a > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*liste pave general*/
[class*='ListePave'] li {
    background-color: var(--primary-very-light);
    border: 1px solid var(--primary-main);
    padding: 1.3rem !important;
    display: flex;
}
/*[class*='ListePave'] li a {
}*/
/* titre du bloc toutes liste */
[class*='ListePave'] a div[class*='contentTitle'] {
    flex: 1;
    font-family: var(--font-titre);
    color: var(--text-main);
    font-weight: 700;
    font-size: 1.6rem;
}
/*********************/
/* liste pave dans   */
/* designHomeContent */
/*********************/
div[class*='designHomeContent'] [class*='ListePave'] li {
    background-color: var(--contrast-light);
    border-color: var(--contrast-light);
    padding: 2rem;
}
div[class*='designHomeContent'] [class*='ListePave'] li a div {
    padding-right: 1.5rem;
}
div[class*='designHomeContent']
    [class*='ListePave']
    li
    a
    /*div[class*='contentTitle']*/
    div:last-child {
    background: var(--contrast-light) url('../img/fleched.svg') no-repeat bottom
        right 1.3rem;
}
div[class*='designHomeContent']
   /* [class*='ListePave']*/
    div.property_value_container
    li
    a
    div[class*='contentParagraph'] {
    flex: 2;
}
/*titre dans homecontent*/
div[class*='designHomeContent']
    div.property_value_container
    li
    a
    div[class*='contentTitle'] {
    color: var(--primary-main);
}
/******************/
/*  home ISTEX    */
/* design sidebar */
/******************/
div[class*='HomeSidebar'] {
    align-items: flex-start !important;
    background-color: var(--primary-main);
    padding: 3rem 3rem 1.5rem !important;
    margin: 0 !important;
    min-width: 280px !important;
    max-width: 475px !important;
    flex: 1;
}
/*div[class*='HomeSidebar'] champs composant 1er niveau*/
div[class*='HomeSidebar'] > .property_value_container > div .property {
    margin-bottom: 2.5rem;
}
/*espace titre-texte*/
div[class*='HomeSidebar']
    > .property_value_container
    > div
    .property
    .MuiBox-root {
    padding: 0 !important;
}
div[class*='HomeSidebar'] > .property_value_container > div .property p {
    padding: 0 !important;
    margin: 0 !important;
}
/*texte en blanc*/
div[class*='HomeSidebar'] *:not(a, button, svg, [class*='Bouton']) {
    color: var(--secondary-contrast-text) !important;
    text-align: left;
}
/*Home tools explorter bouton en savoir plus et links sidebar see*/
/*istex-linksclass.css*/
/*tools explorer compteur la phrase*/
div[class*='HomeCompteur'] .MuiBox-root div {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    line-height: 1.2rem;
    text-align: left;
}
/*compteur nb outils .numberStroke*/
div[class*='HomeCompteur'] div.content {
    font-family: var(--font-titre) !important;
    font-size: 5rem !important;
    font-weight: 700 !important;
    line-height: 61px !important;
    color: var(--primary-main) !important;
    -webkit-text-stroke: 1px var(--secondary-contrast-text);
    padding-right: 5px;
    padding-left: 5px;
}
/*tools explorer img licence*/
.dataset-characteristics div[class*='HomeSidebar'] img:last-child {
    filter: opacity(90%);
}
/* for home sidebar img */
.design-filter {
    filter: opacity(90%);
}

/*******************/
/*  design ISTEX   */
/*   Home bottom   */
/*    banniere     */
/* img full screen */
/*******************/

/*#TODO à revoir */
.banniereSimple {
    width: 100%;
}
div[class*='designHomebanniereSimple'] {
    width: 100vw !important;
    background-image: url(../img/galaxie-istex-1.jpg);
    background-image: url(../img/galaxie-istex.jpg);
    background-image: url(../img/galaxie-istex-2.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 !important;
}
div[class*='designHomebanniereSimple'] div.MuiBox-root {
    margin: 0 0 !important;
    padding: 0 0 !important;
}
#design-home-banniereSimple-container #design-home-banniereSimple-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 45rem;
    max-width: var(--maxWidth);
    margin: 0 auto;
}
#design-home-banniereSimple-texte * {
    color: var(--secondary-contrast-text);
    margin: 0;
}
#design-home-banniereSimple-texte span#surtitre {
    display: block;
    font-weight: 400;
    font-family: var(--font-titre);
    font-size: 2rem;
    line-height: 4rem;
}
#design-home-banniereSimple-texte h2 {
    text-align: center !important;
    color: #c4d733;
    font-size: 4.3rem;
    line-height: 5.3rem;
}
#design-home-banniereSimple-texte div#texte {
    font-size: 2rem;
    line-height: 3rem;
}
/* a est un bouton secondair*/
#design-home-banniereSimple-texte div#url a {
    font-size: 1.6rem;
    line-height: 2rem;
}

/*******************/
/*  design ISTEX   */
/*   Home bottom   */
/*    banniere     */
/*   img + texte   */
/*******************/
div.property[class*='designHomeBanniereDoubleImageTexte'] {
    background-color: var(--primary-main);
    margin-top: -1.5rem;
    width: 100%;
}
div.property[class*='designHomeBanniereDoubleImageTexte']
    div:is(.property_value_container, .property, .MuiBox-root) {
    margin: 0 0 !important;
    padding: 0 0 !important;
}
#content
    #home-page
    .dataset-characteristics
    > div
    > div.property[class*='designHomeBanniereDoubleImageTexte']
    > div:is(.property_label_container, .property_value_container) {
    max-width: 100% !important;
    width: 100%;
}
#content
    #home-page
    .dataset-characteristics
    div.property[class*='BanniereImage']
    > .property_value_container {
    height: 450px;
    min-width: 600px;
    position: relative;
    left: 0;
    background-image: url('../ICONO/dossierdoigt-rectangle-1920x1080.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}
#content
    #home-page
    .dataset-characteristics
    div.property[class*='BanniereTexte']
    > .property_value_container
    > div
    > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    max-width: 600px;
}
div[class*='BanniereTexte'] .property_value {
    padding: 4rem;
    color: var(--contrast-light) !important;
}
div[class*='BanniereTexte'] .property_value_container h2 {
    color: var(--contrast-light) !important;
}

/*****************/
/*page resource*/
/*ex: tools explorer website*/
/*header-resource-section*/
/* bloc titre label */
.designResourceToolsHeader > div.property_label_container span.property_label {
    font-size: 1.4rem;
    color: var(--primary-main) !important;
    border-bottom: 1px solid var(--primary-main);
    margin-bottom: 1rem;
}
.designResourceToolsHeader h1 {
    padding-left: 3rem;
}
/*.main-resource-section*/
.main-resource-section > div > div:first-child {
    justify-content: initial;
    padding: 0 !important;
}
div[class*='ResourceCompose'],
.main-resource-section div[class*='HomeSidebar'] {
    padding: 1.5rem 3rem !important;
    margin-bottom: 0 !;
}
.resource
    div[class*='HomeSidebar']
    span.property_label[style*='color: rgb(158, 158, 158)'] {
    color: inherit !important;
}
/*champs composés*/
div[class*='ResourceCompose'] {
    background-color: var(--primary-very-light);
    flex: 2.79;
}
/*titre*/
div[class*='ResourceCompose'] .property_label_container {
    margin-top: 0rem !important;
}
div[class*='ResourceCompose'] > .property_label_container span.property_label {
    color: var(--text-main) !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 600 !important;
}
div[class*='ResourceCompose'] .property_value_container > div > div > div {
    margin-left: 0 !important;
    border-left: 0px !important;
    padding: 0 !important;
    background-color: var(--primary-very-light);
}
div[class*='ResourceCompose'] div.property {
    margin: 0rem auto;
}
div[class*='ResourceCompose']
    .property_value_container
    .property_value_container {
    background-color: var(--contrast-main);
}
div[class*='ResourceCompose']
    .property_value_container
    .property_value_container
    > .MuiBox-root {
    margin: 0 !important;
    padding: 0 !important;
}
div[class*='ResourceCompose'] ul,
div[class*='ResourceCompose'] ol {
    margin: 0 !important;
    padding: 8px;
}
div[class*='ResourceCompose'] li {
    display: inline-block;
    padding: 3px 8px !important;
}
div[class*='ResourceCompose'] li p {
    padding: 0 !important;
}
div[class*='ResourceCompose'] li:not(:last-child) > span::after {
    content: ',';
}

/*div[class*='ResourceCompose'] > .property_label_container span.property_label:empty {
    display: none;
}*/
div[class*='ResourceCompose'] .property_value_container h2 {
    margin-top: 0rem !important;
}
/*ref bib = .blocExergue*/
div[class*='Exergue'] {
    box-shadow: 0px 0px 20px var(--neutral-main);
    padding: 3rem 5rem;
    margin: 3rem 0;
}
div[class*='Exergue'] p {
    margin: 0 auto 1.5rem;
}
