@import 'istex-internalclass.css';
@import 'istex-linksclass.css';
@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat'),
        url('/themes/istex/fonts/Montserrat/Montserrat-Regular.ttf')
            format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat Medium'),
        url('/themes/istex/fonts/Montserrat/Montserrat-Medium.ttf')
            format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat'),
        url('/themes/istex/fonts/Montserrat/Montserrat-Bold.ttf')
            format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src:
        local('Inter'),
        url('/themes/istex/fonts/Inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src:
        local('Inter'),
        url('/themes/istex/fonts/Inter/Inter-Bold.ttf') format('truetype');
}
/*****************************/
/* General *******************/
/*****************************/
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
}
body {
    font-family: var(--font-texte);
    font-size: 1.4rem;
    color: var(--text-main);
}
:root {
    --font-titre: Montserrat, Arial, Helvetica, sans-serif;
    --font-titre-medium: Montserrat Medium, Arial, Helvetica, sans-serif;
    --font-texte: Inter, Arial, Helvetica, sans-serif;
}
/*otdm2023.css pour header footer*/
.zutile {
    max-width: 1200px;
    min-width: 360px;
    padding: 0 10px;
    margin: 0 auto;
}
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.jcSb {
    justify-content: space-between;
}
.jcC {
    justify-content: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.fontInter {
    font-family:
        'Inter',
        sans serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.fontMontserrat {
    font-family:
        'Montserrat',
        sans serif;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}
.noshow {
    display: none;
}
/*****************************/
/* Header  *******************/
/*****************************/
header {
    background-color: var(--contrast-light);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#nav-skip {
    background-color: #fff;
    display: flex;
}
.skip-links a {
    color: #000;
    position: absolute;
    left: -7000px;
    text-decoration: none;
}
.skip-links a:focus {
    background-color: #fff;
    opacity: 1;
    z-index: 3300;
    width: 150px;
    left: 0;
}
.skip-links > li {
    padding: 0.5rem;
}
.menuIstex {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    height: 34px;
    justify-content: space-between;
    text-transform: uppercase;
}
.accesIstex {
    background-color: rgba(69, 140, 165, 0.2);
    padding: 10px 30px;
}
.accesIstex img {
    margin-right: 5px;
}
.menuIstex .menu-haut {
    list-style: none;
    margin: 0;
}
.menuIstex ul li {
    background-color: #ffffff;
    padding: 11px 15px;
    border-right: 1px solid var(--contrast-light);
    font-weight: 300;
}
.menuIstex a {
    text-decoration: none;
    color: #434148;
}
.menuIstex ul li:hover a {
    color: var(--second-color);
}
.banner {
    background: #fff url(../img/fondistex.png) center center;
    background-size: cover;
    color: #ffffff;
}
.banner .zutile {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.banner img {
    margin-right: 10px;
}
.banner h1.siteTitle {
    display: inline-block;
    margin: 0;
    padding: 0 !important;
    font-family: var(--font-titre);
    color: var(--contrast-main);
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 400;
}
.subTitle {
    font-family: var(--font-titre);
    font-size: 1.8rem;
}
.banner .zutile a,
.banner .zutile a:hover,
.banner .zutile a:visited {
    color: var(--contrast-light) !important;
    text-decoration: none;
}
/*****************************/
/* Footer  *******************/
/*****************************/
footer {
    width: 100%;
}
footer ul {
    list-style: none;
}
footer.site-footer::before {
    content: ' ';
    display: block;
    height: 7px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--primary-main) 0%,
        var(--success-main) 100%
    );
    background-position: left top;
}
footer.site-footer::after {
    content: ' ';
    display: block;
    height: 80px;
}
.site-footer a {
    color: var(--text-main);
    background-color: transparent;
    text-decoration: none;
}
.footer3 {
    justify-content: space-between;
    margin-top: 40px;
}
.footer1 {
    font-family: var(--font-titre);
    font-weight: 500;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.footer4 {
    color: var(--neutral-dark-light);
    text-align: center;
    padding: 30px;
}
.fu {
    width: 150px;
    height: auto;
}
/*****************************/
/* LODEX  structure          */
/*.container #root .page-page*/
/*****************************/
#root .page-page {
    min-height: 35vh;
    padding: 0 !important;
    max-width: 100% !important;
}
.body {
    font-family: var(--font-texte) !important;
    font-size: 1.4rem;
    color: var(--text-main);
}
/********************/
/* Layout (.zutile) */
/********************/
.breadcrumb-root,
nav.nav-bar-menu div.nav-bar-container,
/*home page istex*/
.dataset-characteristics > div > div.property > div,
.graph-container,
.search-container,
.resource {
    max-width: 1200px;
    min-width: 360px;
    padding: 0 10px !important;
    margin: 0 auto;
}
/****************/
/*page connexion*/
/****************/
.body > .MuiPaper-root {
    max-width: 1140px;
    margin: 2rem auto;
    padding: 1rem;
}
/*titre*/
.body > .MuiPaper-root .MuiTypography-h5 {
    font-family: var(--font-titre);
    font-size: 2.5rem !important;
    font-weight: 400;
    color: var(--neutral-dark-dark);
}
/*****************************/
/* Breadcrumb  + Nav *********/
/*****************************/
.breadcrumb-root {
    height: 50px;
}
nav.nav-bar-menu {
    box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.2);
}
/*logo lodex*/
nav.nav-bar-menu div.nav-bar-container > img {
    display: none;
}
/******************/
/*Lodex elements */
/*****************/
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
    font-family: var(--font-titre) !important;
    margin-block-start: 0;
    color: var(--text-main);
    text-align: left !important;
}
.body h1 {
    font-size: 3.8rem;
    font-weight: 700;
}
.body h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-block-end: 0.5em;
}
.body h3 {
    font-size: 2.2rem;
}
.body h4 {
    font-size: 2rem;
    font-style: italic;
}
.body h5 {
    font-size: 1.8rem;
    font-style: italic;
}
.body h6 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-style: italic;
}
.body p,
.body li,
.body div,
.body span:not(.property_label, .detail) {
    font-family: var(--font-texte);
    font-size: 1.4rem;
}
a img {
    border: none;
}
/*links&alikebutton see*/
/*istex-linksclass.css*/

/*.body liste*/
.body ul,
.body ol {
    margin-inline-start: 0px;
    margin-bottom: 10px;
}
.body li {
    text-align: left;
    padding-bottom: 1rem;
}
.body li p {
    padding: 0 !important;
    text-align: initial !important;
}
.body li p:first-of-type {
    margin: 0 !important;
}
/***************/
/* formulaires */
/* color size  */
/***************/
.MuiButton-root,
.MuiGrid-root {
    font-size: 1.6rem !important;
}
* label,
* input,
* input::placeholder,
* textarea::placeholder,
* textarea {
    font-family: var(--font-texte) !important;
    font-size: 1.4rem !important;
    text-align: left;
}
* input,
* textarea {
    color: var(--neutral-dark-light) !important;
}
* label {
    color: var(--text-main);
}
/********/
/*modal*/
/*******/
.MuiPaper-root[role='dialog'] {
    border-radius: 10px;
}
.MuiPaper-root[role='dialog'] * {
    font-family: var(--font-texte);
}
.MuiPaper-root[role='dialog'] > *:not(div) {
    background-color: var(--primary-main);
    color: var(--contrast-light);
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 550;
}
/*bouton fermer x de modal lodex */
/* MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButtonBase-root  css-zuixs4-MuiButtonBase-root-MuiButton-root*/
.MuiPaper-root[role='dialog'] button svg {
    width: 2rem;
    height: 2rem;
}
.MuiPaper-root[role='dialog'] h3 {
    font-family: var(--font-texte);
    color: var(--primary-main);
    font-size: 1.6rem;
    line-height: 1.93rem;
    font-weight: 550;
}
/*****************/
/* LODEX class & */
/*   composants  */
/*****************/

/* champs*/
.property {
    margin-bottom: 1.5rem;
}
.MuiBox-root.css-oa9bdm {
    text-align: initial;
}
/*champs composé*/
/*espace entre les property qui composent*/
div.property div.MuiBox-root > div > * + div {
    justify-content: space-between;
    gap: 0%;
}
/* label */
span.property_label[style*='color: rgb(158, 158, 158)']:not(:empty) {
    font-family: var(--font-titre) !important;
    font-size: 1.4rem !important;
    text-align: initial;
}
/*label semantique*/
.body span.property_scheme a {
    text-decoration: none;
}
/* ul istex */
.resources-grid-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-bottom: 3rem !important;
}
.resources-grid-item {
    padding: 0 !important;
    margin: 0 !important;
}
/*input search*/
.searchbar-container .MuiOutlinedInput-root fieldset,
.searchbar-container .MuiOutlinedInput-root fieldset:hover,
.searchbar-container .MuiOutlinedInput-root fieldset:active,
.searchbar-container .MuiOutlinedInput-root fieldset:focus {
    border-color: var(--primary-main) !important;
}
/***************************/
/* design Home             */
/* .header-dataset-section */
/***************************/
/*version lodex propulsé lodex zutile*/
.header-dataset-section {
    /*background-color: var(--primary-main);
    background-position-y: 0;
    background-size: 100% 50px;*/
    position: relative;
    z-index: 2;
    background: linear-gradient(
        to top,
        var(--primary-main) 40px,
        transparent 1px,
        transparent
    );
}
.header-dataset-section > div:last-child {
    position: relative;
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
    padding: 10px 30px !important;
    background-color: var(--primary-main);
    color: var(--contrast-light) !important;
    text-align: right;
}
.header-dataset-section > div:last-child a {
    color: var(--contrast-light) !important;
}
.header-dataset-section > div:last-child b {
    font-weight: bold !important;
}
.header-dataset-section > div:last-child a:hover,
.header-dataset-section > div:last-child a:focus {
    text-decoration: underline !important;
}
/*pas de marge haute*/
.body div:last-child .dataset-characteristics > div:first-child {
    margin: 0 !important;
    padding: 0 !important;
    gap: 0 !important;
}
/*home .property = bloc d'info*/
/*premier niveau*/
.dataset-characteristics > div > div.property {
    margin-bottom: 3rem;
}
/*****************************/
/* .drawer .search-container */
/* .graph-container          */
/* input search - facets     */
/*****************************/
/*comme .graph-container*/
.search-container {
    margin-top: 3rem !important;
}
/*form search*/
.search-header {
    margin-bottom: 2rem !important;
}
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:hover,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:active,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:focus {
    width: 100%;
    max-width: 875px;
    height: 65px;
    margin: 0 auto;
    background-color: #fff;
}
.search-content {
    background-color: transparent !important;
}
/*stats graph*/
.graph-header .graph-advanced {
    max-width: 100%;
}
.graph-header .graph-advanced .stats {
    min-width: 400px;
    height: auto !important;
    line-height: 1.2rem !important;
    margin: 3rem auto 1rem 1%;
}
/*contents sous search*/
.graph-content,
.search-content {
    gap: 4%;
}
.graph-results,
.search-results {
    padding: 0 !important;
    flex: 1;
}
/*facettes*/
ul.MuiList-root.facets-list {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-dark-very-light);
    border-radius: 4px;
    min-width: 370px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
/*titre*/
ul.MuiList-root.facets-list > li {
    background-color: transparent;
    border-bottom: 1px solid rgba(143, 143, 143, 0.3);
}
/*facette titre plier-deplier*/
ul.MuiList-root.facets-list > li .MuiGrid-root.MuiGrid-container {
    margin: 12px 0px;
    padding: 0px 16px;
    /*min-height: 48px;*/
    color: var(--neutral-dark-very-dark) !important;
    font-size: 1.4rem;
    font-weight: 400;
    justify-content: space-between !important;
}
ul.MuiList-root.facets-list > li .MuiGrid-root.MuiGrid-container svg {
    font-size: 2.5rem;
}
ul.MuiList-root.facets-list > li .facet-value-list {
    padding: 8px 16px 16px;
    background-color: white;
}
ul.MuiList-root.facets-list > li .facet-value-list svg {
    font-size: 1.8rem;
}
/*****************************/
/* Recherche  results        */
/* .drawer .search-container */
/* ***************************/
/*stats + tris*/
.search-results > div > div {
    height: max-content !important;
    line-height: 2rem !important;
}
.search-result-list-container {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
/*a.search-result-link*/
.body .search-result-list-container a {
    text-decoration: none;
    flex: 1 0 325px;
    color: rgb(74, 74, 74);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    border: 1px solid var(--primary-main);
    overflow: hidden;
    background-color: var(--neutral-dark-very-light);
    display: flex;
    flex-direction: column;
    width: 48%;
}
/*.search-result-list-container a:hover,
.search-result-list-container a:focus,
.search-result-list-container a:active {
    border: 1px solid #c4d733;
    background-color: #f9fbeb;
}*/
.search-result-list-container a > div,
.search-result-list-container a > div:hover,
.search-result-list-container a > div:focus,
.search-result-list-container a > div:active {
    border: 0px;
    background-color: transparent;
}
.search-result-list-container a div.search-result-title {
    font-family: var(--font-titre);
}
/*****************/
/* page resource */
/*****************/
/*general*/
/*labels en noir et soulignes*/
.resource
    .property
    .property_value_container
    .property
    .property_label_container
    > div {
    width: max-content;
}
.resource span.property_label[style*='color: rgb(158, 158, 158)'] {
    color: var(--neutral-dark-very-dark) !important;
}
/*moins d'espace en hauteur*/
.header-resource-section div:not(.property .property) {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0;
    margin-left: 0 !important;
    padding: 0 !important;
    border-left: 0 !important;
}
/*si header bloc infos composé*/
.header-resource-section div.property .property {
    margin-bottom: 0 !important;
    flex: 1;
}
.header-resource-section
    div.property:first-of-type
    > div.property_value_container
    > div
    > div
    > div {
    justify-content: space-between;
    border-left: 0 !important;
}
/*bloc header-resource-section*/
.header-resource-section .property * {
    padding-left: 1rem;
}
/* resource titre*/
.header-resource-section
    .property.format_title
    > .property_value_container
    > div
    > div
    > *:first-child {
    color: var(--text-main) !important;
    padding-left: 1rem;
    font-size: 3rem;
}
/*bloc header value titre champ compose*/
.header-resource-section .property .property_value_container {
    flex: 1;
}
/*bloc infos associees au titre*/
.resource
    > .detail
    .header-resource-section
    .property_value_container
    > div
    > div
    > div {
    margin-top: 2rem;
    gap: 5%;
    margin-left: 0 !important;
    border-left: 0 !important;
}
/*.main-resource-section*/
.resource .detail .main-resource-section > div > div:first-child {
    justify-content: initial;
}
/*barre fonctionnelle*/
.main-resource-section > div .MuiCardActions-root {
    margin-top: 5rem;
}

/*****************************/
/* Responsive  ***************/
/*****************************/
@media screen and (max-width: 760px) {
    .banner {
        height: 100px;
        padding-top: 10px;
    }
    .banner img {
        height: 80%;
    }
    .banner h1.siteTitle {
        font-size: 3rem;
    }
    .subTitle {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .menuIstex {
        height: 68px;
    }
}
@media screen and (max-width: 530px) {
    .banner {
        height: 120px;
        padding-top: 30px;
    }
    .banner h1.siteTitle {
        font-size: 30px;
    }
    .subTitle {
        display: none;
    }
    /*barre fonctionnelle*/
    .main-resource-section > div .MuiCardActions-root {
        flex-direction: column;
    }
}
