:root {
    /*couleur icon pour lien et bouton*/
    --filtreBleuMain: invert(55%) sepia(9%) saturate(2387%) hue-rotate(150deg)
        brightness(88%) contrast(81%);
    --filtreBleuHoverFocus: invert(39%) sepia(60%) saturate(480%)
        hue-rotate(150deg) brightness(90%) contrast(85%);
    --filtreBleuActive: invert(24%) sepia(74%) saturate(509%) hue-rotate(150deg)
        brightness(99%) contrast(88%);
    --filtreBlancLight: invert(88%) sepia(54%) saturate(7152%)
        hue-rotate(182deg) brightness(124%) contrast(89%);
    --filtreBlancMainHFA: invert(100%) sepia(100%) saturate(0%)
        hue-rotate(327deg) brightness(107%) contrast(101%);
}
/************************/
/* lien au fil du texte */
/* lien du content      */
/************************/
#content a:not(:empty, .property_value) {
    text-decoration: underline;
    cursor: pointer;
}
/*a avec url comme texte (pas bonne pratique*/
.property div[class*='designHomeSidebar'] a.property_value {
    overflow-wrap: anywhere !important;
    word-break: break-all !important;
    hyphens: auto;
    width: inherit;
}
/**************/
/* fond clair */

.property a {
    color: var(--primary-main);
    display: inline-flex;
}
.property a:is(:hover, :focus) {
    color: var(--link-secondary);
}
.property a:active {
    color: var(--link-dark);
}
/*lien externe = icone base noir filtre couleur position*/
.property a:not(:empty, .property_value)[target='_blank']::after {
    color: black;
    filter: var(--filtreBleuMain);
    display: inline-block;
    content: url('../img/suivre-le-lien-nouvel-onglet.png');
    padding-left: 5px;
}
.property
    a:is(:hover, :focus):not(:empty, .property_value)[target='_blank']::after {
    color: black;
    filter: var(--filtreBleuHoverFocus);
}
.property a:active:not(:empty, .property_value)[target='_blank']::after {
    color: black;
    filter: var(--filtreBleuActive);
}
/**************/
/* fond sombre*/
/*lien externe icon*/
div[class*='HomeSidebar'] a {
    color: var(--contrast-light);
}
div[class*='HomeSidebar'] a:is(:hover, :focus, :active) {
    color: var(--contrast-main);
}
/*lien externe = icone base noir filtre couleur position*/
div[class*='HomeSidebar']
    a:not(:empty, .property_value)[target='_blank']::after {
    color: black;
    filter: var(--filtreBlancLight);
}
div[class*='HomeSidebar']
    a:is(:hover, :focus, :active):not(
        :empty,
        .property_value
    )[target='_blank']::after {
    color: black;
    filter: var(--filtreBlancMainHFA);
}
