/***************************/
/*div[class*='HomeContentSidebar'] */
/* fond blanc casse + decor */
div[class*='HomeContentSidebar'] {
    background-color: var(--neutral-dark-very-light);
    background-image: url('../img/svgfond.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    padding: 0 !important;
    width: 100% !important;
}
/*s'il est en fin de home*/
.dataset-characteristics
    > div
    > div.property[class*='HomeContentSidebar']:last-child {
    margin-bottom: 0rem !important;
}
div[class*='HomeContentSidebar'] .MuiBox-root.css-oa9bdm {
    padding: 0 !important;
}
/*Home div[class*='HomeContent'] et*/
/*Home div[class*='HomeSidebar']*/
div[class*='HomeContentSidebar'] div[class*='designHomeContent'],
div[class*='HomeSidebar'] {
    width: auto !important;
    margin-bottom: 0 !important;
    padding: 3rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Home texte principal*/
/* div[class*='HomeContent']*/
div[class*='HomeContentSidebar'] div[class*='HomeContent'] {
    flex: 2;
    background-color: transparent !important;
    /*padding: 0 20px 70px 20px;*/
}
/*contents home label = titre as h2*/
/*a eviter car probleme indexation par robots cause pas de semantique html*/
/*.dataset-characteristics
    div
    span.property_label[style*='color: rgb(158, 158, 158)']:not(:empty) {
    font-size: 2rem !important;
    line-height: 3.4rem;
    font-weight: 700 !important;
    color: var(--text-main) !important;
    padding: 3rem 0 20px;
}*/
/*sauf le premier titre*/
/*div[class*='HomeContent']
    > div.property_label_container
    span.property_label[style*='color: rgb(158, 158, 158)'] {
    font-size: 2.8rem !important;
    padding: 0 0 3rem;
}
span.property_label:empty {
    padding: 0;
}*/
/********************/
/* home ou resource */
/* liste en pave    */
/********************/
[class*='ListePave'] div.property_value_container:first-child {
    padding: 0 !important;
}
.body [class*='ListePave'] :is(ul, li) {
    padding: 0;
    margin: 0;
}
.body [class*='ListePave'] ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
/*avec liste syndication*/
div.property_value_container li[class*='item'],
[class*='ListePave'] div.property_value_container li div {
    background: transparent;
    box-shadow: none;
    border: 0px;
    width: auto;
}
[class*='ListePave'] div.property_value_container li div[class*='wrapper'] {
    padding: 0rem;
}
[class*='ListePave'] li a {
    display: block;
    width: 325px;
    min-height: 80px;
    padding: 1.3rem;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-main);
    border-radius: 4px;
}
[class*='ListePave'] li a > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* titre du bloc toutes liste */
[class*='ListePave'] a div[class*='contentTitle'] {
    flex: 1;
    font-family: var(--font-titre);
    color: var(--primary-main);
    font-weight: 700;
    font-size: 1.6rem;
}
/*liste pave dans designHomeContent*/
div[class*='HomeContentSidebar']
    div[class*='designHomeContent']
   /* [class*='ListePave']*/
    li
    a {
    background-color: var(--contrast-light);
    border-color: var(--contrast-light);
}
div[class*='HomeContentSidebar']
    div[class*='designHomeContent']
   /* [class*='ListePave']*/
    div.property_value_container
    li
    a
    > div {
    display: flex;
    flex-direction: column;
    gap: 0 2px;
}
div[class*='HomeContentSidebar']
    div[class*='designHomeContent']
   /* [class*='ListePave']*/
    a
    div[class*='contentTitle'] {
    background: var(--contrast-light) url('../img/fleched.svg') no-repeat center
        right 1.3rem;
}
div[class*='HomeContentSidebar']
    div[class*='designHomeContent']
   /* [class*='ListePave']*/
    div.property_value_container
    li
    a
    div[class*='contentParagraph'] {
    flex: 2;
}
/******************/
/*  home ISTEX    */
/* design sidebar */
/******************/
div[class*='HomeSidebar'] {
    align-items: flex-start !important;
    background-color: var(--primary-main);
    padding: 3rem 3rem 1.5rem !important;
    margin: 0 !important;
    min-width: 280px !important;
    max-width: 475px !important;
    flex: 1;
}
/*div[class*='HomeSidebar'] champs composant 1er niveau*/
div[class*='HomeSidebar'] > .property_value_container > div .property {
    margin-bottom: 1.5rem;
}
/*espace titre-texte*/
div[class*='HomeSidebar']
    > .property_value_container
    > div
    .property
    .MuiBox-root {
    padding: 0 !important;
}
div[class*='HomeSidebar'] > .property_value_container > div .property p {
    padding: 0 !important;
    margin: 0 !important;
}
/*texte en blanc*/
div[class*='HomeSidebar'] *:not(a, button, svg, [class*='Bouton']) {
    color: var(--secondary-contrast-text) !important;
    text-align: left;
}
/*Home tools explorter bouton en savoir plus et links sidebar see*/
/*istex-linksclass.css*/
/*tools explorer compteur la phrase*/
div[class*='HomeCompteur'] .MuiBox-root div {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    line-height: 1.2rem;
    text-align: left;
}
/*compteur nb outils .numberStroke*/
div[class*='HomeCompteur'] div.content {
    font-family: var(--font-titre) !important;
    font-size: 5rem !important;
    font-weight: 700 !important;
    line-height: 61px !important;
    color: var(--primary-main) !important;
    -webkit-text-stroke: 1px var(--secondary-contrast-text);
    padding-right: 5px;
    padding-left: 5px;
}
/*tools explorer img licence*/
.dataset-characteristics div[class*='HomeSidebar'] img:last-child {
    filter: opacity(90%);
}
/* tdm tools home*/
.design-filter {
    filter: opacity(90%);
}

/*istex home promo en bas*/
.backZoneSimple {
    --height-backZoneSimple: 45rem;
    --height-lodexZone: 3.7rem;
    margin-bottom: 0;
}
.backZoneSimple .property_value_container * {
    padding: 0;
    margin: 0;
}
.backZoneSimple .property_value {
    height: calc(var(--height-backZoneSimple) - 1rem);
    width: 100%;
}
#backZoneContainer {
    position: absolute;
    bottom: var(--height-lodexZone);
    left: 0;
    width: 100% !important;
    background-color: var(--primary-main);
    background-image: url(../img/backZoneSimple-1.jpg);
    background-position: center top;
    background-color: var(--primary-main);
    background-size: cover;
    background-repeat: no-repeat;
}
#backZoneContainer #backZoneTexte {
    border: 0 !important;
    height: var(--height-backZoneSimple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#backZoneContainer #backZoneTexte *:not(h2) {
    padding: 0 !important;
    border: 0 !important;
    width: max-content;
    color: var(--secondary-contrast-text) !important;
    font-weight: 400;
    font-family: var(--font-titre);
    font-size: 2rem;
}
#backZoneContainer #backZoneTexte h2 {
    color: #c4d733;
    font-size: 4.3rem;
    margin: 2rem 2rem 5rem;
    text-align: center !important;
}
#backZoneContainer #backZoneTexte div#surtitre {
    font-size: 2rem;
}
#backZoneContainer #backZoneTexte div#url {
    font-size: 3rem;
}
#backZoneContainer #backZoneTexte div#url a:hover {
    font-weight: bold;
}
/*autre version non implémentée*/

/*************************/
/* design Home bottom    */
/* full screen           */
/* content fond et promo */
/*************************/
/*istex home promo*/
/* galaxieIstex */
.designHomeGalaxieIstex {
    background-color: var(--neutral-dark-very-light);
}
#design-home-galaxieIstex-container {
    width: 100% !important;
    background-image: url(../img/galaxie-istex-1.jpg);
    background-image: url(../img/galaxie-istex.jpg);
    background-image: url(../img/galaxie-istex-2.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
#design-home-galaxieIstex-container #design-home-galaxieIstex-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 45rem;
    max-width: 1920px;
    margin: 0 auto;
}
#design-home-galaxieIstex-texte * {
    color: var(--secondary-contrast-text);
    margin: 0;
}
#design-home-galaxieIstex-texte span#surtitre {
    display: block;
    font-weight: 400;
    font-family: var(--font-titre);
    font-size: 2rem;
    line-height: 4rem;
}
#design-home-galaxieIstex-texte h2 {
    text-align: center !important;
    color: #c4d733;
    font-size: 4.3rem;
    line-height: 5.3rem;
}
#design-home-galaxieIstex-texte div#texte {
    font-size: 2rem;
    line-height: 3rem;
}
#design-home-galaxieIstex-texte div#url a {
    font-size: 1.6rem;
    line-height: 2rem;
}
/*****************/
/*page resource*/
/*ex: tools explorer website*/
/*header-resource-section*/
/* bloc titre label */
.designResourceToolsHeader > div.property_label_container span.property_label {
    font-size: 1.4rem;
    color: var(--primary-main) !important;
    border-bottom: 1px solid var(--primary-main);
    margin-bottom: 1rem;
}
.designResourceToolsHeader h1 {
    padding-left: 3rem;
}
/*.main-resource-section*/
.main-resource-section > div > div:first-child {
    justify-content: initial;
    padding: 0 !important;
}
div[class*='ResourceCompose'],
.main-resource-section div[class*='HomeSidebar'] {
    padding: 1.5rem 3rem !important;
}
.resource
    div[class*='HomeSidebar']
    span.property_label[style*='color: rgb(158, 158, 158)'] {
    color: inherit !important;
}
/*champs composés*/
div[class*='ResourceCompose'] {
    background-color: var(--primary-light);
    flex: 2.79;
}
/*titre*/
div[class*='ResourceCompose'] .property_label_container {
    margin-top: 0rem !important;
}
div[class*='ResourceCompose'] > .property_label_container span.property_label {
    color: var(--text-main) !important;
    font-size: 1.8rem !important;
    line-height: 2rem;
    font-weight: 600 !important;
}
div[class*='ResourceCompose'] .property_value_container > div > div > div {
    margin-left: 0 !important;
    border-left: 0px !important;
    padding: 0 !important;
    background-color: var(--primary-light);
}
div[class*='ResourceCompose'] div.property {
    margin: 0rem auto;
}
div[class*='ResourceCompose']
    .property_value_container
    .property_value_container {
    background-color: var(--contrast-main);
}
div[class*='ResourceCompose']
    .property_value_container
    .property_value_container
    > .MuiBox-root {
    margin: 0 !important;
    padding: 0 !important;
}
div[class*='ResourceCompose'] ul,
div[class*='ResourceCompose'] ol {
    margin: 0 !important;
    padding: 8px;
}
div[class*='ResourceCompose'] li {
    display: inline-block;
    padding: 3px 8px !important;
}
div[class*='ResourceCompose'] li p {
    padding: 0 !important;
}
div[class*='ResourceCompose'] li:not(:last-child) > span::after {
    content: ',';
}

/*div[class*='ResourceCompose'] > .property_label_container span.property_label:empty {
    display: none;
}*/
div[class*='ResourceCompose'] .property_value_container h2 {
    margin-top: 0rem !important;
}
/*ref bib = .blocExergue*/
div[class*='Exergue'] {
    box-shadow: 0px 0px 20px var(--neutral-main);
    padding: 3rem 5rem;
    margin: 5rem 0;
}
div[class*='Exergue'] p {
    margin: 0 auto 1.5rem;
}
