@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("/themes/istex/fonts/Montserrat/Montserrat-Regular.ttf")
            format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("/themes/istex/fonts/Montserrat/Montserrat-Medium.ttf")
            format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("/themes/istex/fonts/Montserrat/Montserrat-Bold.ttf")
            format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"),
        url("/themes/istex/fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local("Inter"),
        url("/themes/istex/fonts/Inter/Inter-Bold.ttf") format("truetype");
}
/*****************************/
/* General *******************/
/*****************************/
html {
    font-size: 62.5%;
    width: 100%;
}
body {
    font-family: var(--font-texte);
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text-main);
}
:root {
    --font-titre: Montserrat, Arial, Helvetica, sans-serif;
    --font-texte: Inter, Arial, Helvetica, sans-serif;
}
/*otdm2023.css pour header footer*/
.zutile {
    max-width: 1200px;
    min-width: 360px;
    padding: 0 10px;
    margin: 0 auto;
}
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.jcSb {
    justify-content: space-between;
}
.jcC {
    justify-content: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
}
.fontInter {
    font-family: "Inter", sans serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.fontMontserrat {
    font-family: "Montserrat", sans serif;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}
.noshow {
    display: none;
}
/*****************************/
/* Header  *******************/
/*****************************/
header {
    background-color: var(--contrast-light);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#nav-skip {
    background-color: #fff;
    display: flex;
}
.skip-links a {
    color: #000;
    position: absolute;
    left: -7000px;
    text-decoration: none;
}
.skip-links a:focus {
    background-color: #fff;
    opacity: 1;
    z-index: 3300;
    width: 150px;
    left: 0;
}
.skip-links > li {
    padding: 0.5rem;
}
.menuIstex {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    height: 34px;
    justify-content: space-between;
    text-transform: uppercase;
}
.accesIstex {
    background-color: rgba(69, 140, 165, 0.2);
    padding: 10px 30px;
}
.accesIstex img {
    margin-right: 5px;
}
.menuIstex .menu-haut {
    list-style: none;
    margin: 0;
}
.menuIstex ul li {
    background-color: #ffffff;
    padding: 11px 15px;
    border-right: 1px solid var(--contrast-light);
    font-weight: 300;
}
.menuIstex a {
    text-decoration: none;
    color: #434148;
}
.menuIstex ul li:hover a {
    color: var(--second-color);
}
.banner {
    height: 150px;
    background: #fff url(../img/fondistex.png) center center;
    background-size: cover;
    padding-top: 30px;
    color: #ffffff;
}
.banner img {
    margin-right: 10px;
}
.banner h1.siteTitle {
    display: inline-block;
    margin: 0;
    padding: 0 !important;
    font-family: var(--font-titre);
    color: var(--contrast-main);
    font-size: 5rem;
    line-height: 6rem;
    font-weight: 400;
}
.subTitle {
    font-family: var(--font-titre);
    font-size: 1.8rem;
}
.banner .zutile a,
.banner .zutile a:hover,
.banner .zutile a:visited {
    color: var(--contrast-light) !important;
    text-decoration: none;
}
/*****************************/
/* Footer  *******************/
/*****************************/
footer {
    width: 100%;
}
footer ul {
    list-style: none;
}
footer.site-footer::before {
    content: " ";
    display: block;
    height: 7px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        var(--primary-main) 0%,
        var(--success-main) 100%
    );
    background-position: left top;
}
footer.site-footer::after {
    content: " ";
    display: block;
    height: 80px;
}
.site-footer a {
    color: var(--text-main);
    background-color: transparent;
    text-decoration: none;
}
.footer3 {
    justify-content: space-between;
    margin-top: 40px;
}
.footer1 {
    font-family: var(--font-titre);
    font-weight: 500;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.footer4 {
    color: var(--neutral-dark-light);
    text-align: center;
    padding: 30px;
}
.fu {
    width: 150px;
    height: auto;
}
/*****************************/
/* LODEX  structure          */
/*.container #root .page-page*/
/*****************************/
#root .page-page {
    min-height: 65vh;
    padding: 0 !important;
}
.body {
    font-family: var(--font-texte) !important;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text-main);
}
/*****************************/
/* Layout (.zutile) **********/
/*****************************/
.breadcrumb-root,
nav.nav-bar-menu div.nav-bar-container,
.header-dataset-section > div:last-child,
.dataset-characteristics > div,
.graph-container,
.search-container,
.resource {
    max-width: 1190px;
    min-width: 360px;
    padding: 0 10px;
    margin: 0 auto;
}
/****************/
/*page connexion*/
/****************/
.body > .MuiPaper-root {
    max-width: 1140px;
    margin: 2rem auto;
    padding: 1rem;
}
/*titre*/
.body > .MuiPaper-root .MuiTypography-h5 {
    font-family: var(--font-titre);
    font-size: 2.5rem !important;
    font-weight: 400;
    color: var(--neutral-dark-dark);
}
/*****************************/
/* Breadcrumb  + Nav *********/
/*****************************/
nav.nav-bar-menu {
    box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.2);
}
/******************/
/*Lodex elements */
/*****************/
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
    font-family: var(--font-titre);
    margin-block-start: 0;
    color: var(--primary-main);
    text-align: left;
}
.body h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 60px;
    font-weight: 700;
}
.body h2 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    font-weight: 700;
}
.body h3 {
    font-size: 2.2rem;
    line-height: 3rem;
}
.body h4 {
    font-size: 2rem;
    line-height: 2.8rem;
    font-style: italic;
}
.body h5 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-style: italic;
}
.body h6 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-style: italic;
}
.body p,
.body li,
.body div,
.body span:not(.property_label, .detail) {
    font-family: var(--font-texte);
    font-size: 1.4rem;
}
a img {
    border: none;
}
.body p a,
.body li a {
    color: var(--primary-main);
    cursor: pointer;
    text-decoration: underline;
}
.body ul {
    margin-inline-start: 0px;
    margin-bottom: 10px;
}
/******************************/
/*. body button links a.button*/
/******************************/
.body button,
.body .button {
    border: 0px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    line-height: 18px;
    font-size: 16px !important;
}
/*fonce sur fond clair*/
/*plus, parcourir résultats css-10ro12o css-xiqrbu*/
.body .cta1,
.body a.cta1,
.body .button.cta1 > a {
    color: var(--contrast-light);
    background-color: var(--primary-main);
}
.body .cta1:hover,
.body .cta1:focus,
.body .button.cta1 > a:hover,
.body .button.cta1:hover > a,
.body .button.cta1 > a:focus,
.body .cta3:hover,
.body .cta3:focus,
.css-10ro12o:hover,
.css-10ro12o:focus,
.css-xiqrbu:hover,
.css-xiqrbu:focus {
    background: linear-gradient(to left, rgb(96, 157, 178), #458ca5);
}
/*clair bordure sur fond clair*/
.body .button.cta3 {
    color: var(--primary-main);
    background-color: transparent;
    border: 1px solid var(--primary-main);
    padding: 15px 30px;
}
.body .button.cta3:hover,
.body .button.cta3:focus {
    color: var(--contrast-light);
}
/*clair bordure sur fond fonce*/
.body .cta2,
.body a.button.cta2,
.body .button.cta2 > a {
    font-family: var(--font-texte);
    color: var(--contrast-light);
    background-color: transparent;
    border: 1px solid var(--contrast-light);
}
.body .button.cta2:hover,
.body .button.cta2:focus {
    color: var(--primary-main) !important;
    background-color: var(--contrast-light);
}
/*clair bordure sur fond clair .cta3*/
/*connexion*/
/*button class = MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButtonBase-root  css-qjrhga*/
.body > .MuiPaper-root button {
    color: var(--primary-main);
    background-color: transparent;
    border: 1px solid var(--primary-main);
    padding: 15px 30px;
}
.body > .MuiPaper-root button:hover,
.body > .MuiPaper-root button:focus {
    color: var(--contrast-light);
    background: linear-gradient(to left, rgb(96, 157, 178), #458ca5);
}
/***************/
/* formulaires */
/***************/
.MuiButton-root,
.MuiGrid-root {
    font-size: 1.6rem !important;
}
* label,
* input,
* input::placeholder,
* textarea::placeholder,
* textarea {
    font-family: var(--font-texte) !important;
    font-size: 1.4rem !important;
}
* input,
* textarea {
    color: var(--neutral-dark-light) !important;
}
* label {
    color: var(--text-main);
}
/***************/
/* LODEX class */
/***************/
/*admin champs*/
.property {
    margin-bottom: 1.5rem;
}

/* lodex label */
span.property_label[style*="color: rgb(158, 158, 158)"] {
    font-family: var(--font-titre) !important;
    font-size: 1.4rem !important;
}
/* ul istex */
.resources-grid-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-bottom: 3rem !important;
}
.resources-grid-item {
    padding: 0 !important;
    margin: 0 !important;
}
/***************************/
/* page home               */
/* .header-dataset-section */
/***************************/
/*.backZoneBTC*/
.header-dataset-section {
    background-color: var(--primary-main);
    position: relative;
    margin-top: 50px;
    z-index: 2;
}
/*istex home promo en bas*/
.backZoneSimple {
    --height-backZoneSimple: 45rem;
    --height-lodexZone: 3.7rem;
    margin-bottom: 0;
}
.backZoneSimple .property_value_container * {
    padding: 0;
    margin: 0;
}
.backZoneSimple .property_value {
    height: calc(var(--height-backZoneSimple) - 1rem);
    width: 100%;
}
#backZoneContainer {
    position: absolute;
    bottom: var(--height-lodexZone);
    left: 0;
    width: 100% !important;
    background-color: var(--primary-main);
}
#backZoneContainer #backZoneTexte {
    border: 0 !important;
    height: var(--height-backZoneSimple);
    padding-top: 12rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/backZoneSimple.jpg);
    background-position: center top;
    background-color: var(--primary-main);
    background-size: auto;
    background-repeat: no-repeat;
}
#backZoneContainer #backZoneTexte *:not(h2) {
    padding: 0 !important;
    border: 0 !important;
    width: max-content;
    color: var(--secondary-contrast-text) !important;
    font-weight: 400;
    font-family: var(--font-titre);
    font-size: 2rem;
}
#backZoneContainer #backZoneTexte h2 {
    color: #c4d733;
    font-size: 4.3rem;
    margin: 2rem 2rem 5rem;
    text-align: center !important;
}
#backZoneContainer #backZoneTexte div#surtitre {
    font-size: 2rem;
}
#backZoneContainer #backZoneTexte div#url {
    font-size: 3rem;
}
#backZoneContainer #backZoneTexte div#url a:hover {
    font-weight: bold;
}
/*propulsé lodex zutile*/
.header-dataset-section > div:last-child {
    color: var(--contrast-light) !important;
    text-align: right !important;
    padding: 10px 30px !important;
    height: var(--bottom-backZoneSimple);
}
.header-dataset-section > div:last-child a {
    color: var(--contrast-light) !important;
}
.header-dataset-section > div:last-child b {
    font-weight: bold !important;
}
.header-dataset-section > div:last-child a:hover,
.header-dataset-section > div:last-child a:focus {
    text-decoration: underline !important;
}
/*home content*/
.dataset-characteristics {
    background-color: var(--primary-light);
}
.header-dataset-section a,
.header-dataset-section a:visited,
.header-dataset-section a:hover {
    text-decoration: none !important;
}
/**home zone gauche fond blanc casse + sidebar **/
.dataset-characteristics > div {
    justify-content: flex-start !important;
    padding: 0 !important;
}
/*Home .blocPaveFonce*/
.dataset-characteristics .blocPaveFonce {
    flex: 2;
    background-color: transparent !important;
    padding-bottom: 50px;
}
.dataset-characteristics .blocPaveFonce,
.dataset-characteristics .sidebarFonce {
    width: auto !important;
    padding-top: 100px !important;
    margin-bottom: 0;
}
/*Home page index texte principal*/
/* .blocPaveFonce*/
.blocPaveFonce {
    padding: 3rem 20px 70px 20px;
}
.blocPaveFonce .resources-grid-item {
    width: 330px;
    background-color: var(--contrast-light);
    position: relative;
}
/*contents home label titre as h2*/
.blocPaveFonce span.property_label {
    font-size: 2.8rem !important;
    line-height: 3.4rem;
    font-weight: 700 !important;
    color: var(--text-main) !important;
    padding: 3rem 20px 70px 20px;
}
.blocPaveFonce .resources-grid-content {
    background-color: var(--contrast-light) !important;
    padding: 0 !important;
}
/*a avec icone lien externe - tools explorer dataset
.dataset-characteristics .resources-grid-content > div > a:last-child {
    display: none;
}*/
.blocPaveFonce .resources-grid-content > div > a > div {
    margin: 2rem;
    height: 80px;
    background: var(--contrast-light) url("../img/fleched.svg") no-repeat bottom
        0rem right 1rem;
}
.blocPaveFonce .resources-grid-content > div > a .lodex-resource-contentTitle {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: var(--primary-main);
    padding-bottom: 1rem;
}
.blocPaveFonce
    .resources-grid-content
    > div
    > a
    .lodex-resource-contentParagraph {
    display: inline-block;
    max-height: 32px;
    overflow: hidden;
    text-overflow: "..." !important;
}
.blocPaveFonce
    .resources-grid-content
    > div
    > a
    .lodex-resource-contentParagraph
    + div {
    display: inline-block;
}
/*OTDM css sidebar*/
/*.sidebarFonce*/
.sidebarFonce {
    align-items: flex-start !important;
    background-color: var(--primary-main);
    padding: 3rem 3rem 1.5rem !important;
    min-width: 280px !important;
    max-width: 375px !important;
}
.sidebarClair {
    align-items: flex-start !important;
    background-color: transparent;
    padding: 3rem 3rem 1.5rem !important;
    min-width: 280px !important;
    max-width: 375px !important;
}
/*sidebar + contents sidebar*/
.dataset-characteristics > div > div.sidebarFonce {
    flex: 1;
    padding: 100px 30px 80px 30px !important;
}
/*.sidebar bloc + bloc champs composant*/
.sidebarFonce > .property_value_container > div,
.sidebarFonce > .property_value_container > div > div > div {
    padding-left: 0 !important;
    margin-left: 0 !important;
    border-left: 0px !important;
}
/*.sidebarFonce contrast color text*/
.sidebarFonce *:not(button, svg) {
    color: var(--secondary-contrast-text) !important;
}
/*.sidebarFonce bloc champs composant*/
.sidebarFonce > .property_value_container > div .property {
    margin-bottom: 1.5rem;
}
.sidebarFonce > .property_value_container > div .property p {
    padding: 0 !important;
    margin: 0 !important;
}
/*a avec url en texte*/
.sidebarFonce > .property_value_container > div .property a {
    overflow-wrap: anywhere !important;
    word-break: break-all !important;
    hyphens: auto;
}
/*Home tools explorter bouton en savoir plus*/
.dataset-characteristics .sidebarFonce a.button.cta2 {
    margin-top: 30px !important;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
/*tools explorer compteur la phrase*/
/*futur  .compteur*/
/*.dataset-characteristics
    .sidebarFonce
    > .property_value_container
    div:first-child.property {
    margin: 5rem 0;
}*/
.dataset-characteristics .sidebarFonce > .property_value_container .compteur {
    margin: 5rem 0;
}
.sidebarFonce
    > .property_value_container
    div:first-child.property
    .MuiBox-root
    div {
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    line-height: 1.2rem;
    text-align: left;
}
/*compteur nb outils .numberStroke*/
.sidebarFonce > .property_value_container .compteur div.content {
    font-family: var(--font-titre) !important;
    font-size: 5rem !important;
    font-weight: 700 !important;
    line-height: 61px !important;
    color: var(--primary-main) !important;
    -webkit-text-stroke: 1px var(--secondary-contrast-text);
    padding-right: 5px;
    padding-left: 5px;
}
/*tools explorer img licence*/
.dataset-characteristics .sidebarFonce img:last-child {
    filter: opacity(90%);
}
/*****************************/
/* .drawer .search-container */
/* .graph-container          */
/* input search - facets     */
/*****************************/
/*comme .graph-container*/
.search-container {
    margin-top: 3rem !important;
}
/*form search*/
.search-header {
    margin-bottom: 2rem !important;
}
/*.css-72bc2f*/
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:hover,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:active,
.searchbar-container .MuiOutlinedInput-root.MuiInputBase-root:focus {
    width: 100%;
    max-width: 875px;
    height: 65px;
    margin: 0 auto;
    background-color: #fff;
}
.search-content {
    background-color: transparent !important;
}
/*stats graph*/
.graph-header .graph-advanced {
    max-width: 100%;
}
.graph-header .graph-advanced .stats {
    min-width: 400px;
    height: auto !important;
    line-height: 1.2rem !important;
    margin: 3rem auto 1rem 1%;
}
/*facettes*/
ul.MuiList-root.facets-list {
    display: flex;
    flex-direction: column;
    background-color: var(--contrast-light);
    border-radius: 4px;
    min-width: 370px !important;
    padding-bottom: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    flex: 1.2 0 0%;
}
/*titre*/
ul.MuiList-root.facets-list > li {
    background-color: transparent;
    border-bottom: 1px solid rgba(143, 143, 143, 0.3);
}
/*facette titre plier-deplier*/
ul.MuiList-root.facets-list > li .MuiGrid-root.MuiGrid-container {
    margin: 12px 0px;
    padding: 0px 16px;
    /*min-height: 48px;*/
    color: var(--primary-main) !important;
    font-size: 1.4rem;
    font-weight: 600;
    justify-content: space-between !important;
}
ul.MuiList-root.facets-list > li .MuiGrid-root.MuiGrid-container svg {
    font-size: 2.5rem;
}
ul.MuiList-root.facets-list > li .facet-value-list {
    padding: 8px 16px 16px;
    background-color: white;
}
ul.MuiList-root.facets-list > li .facet-value-list svg {
    font-size: 1.8rem;
}
/*****************************/
/* Recherche  results        */
/* .drawer .search-container */
/* ***************************/
/*stats + tris*/
.search-results > div > div {
    height: max-content !important;
    line-height: 2rem !important;
}
.search-result-list-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8px;
    margin-bottom: 8px;
    display: grid;
    gap: 16px;
}
.search-result-list-container a {
    flex: 1;
    color: rgb(74, 74, 74);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    border: 1px solid var(--primary-main);
    overflow: hidden;
    height: 100%;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
}
.search-result-list-container a:hover,
.search-result-list-container a:focus,
.search-result-list-container a:active {
    border: 1px solid #c4d733;
    background-color: #f9fbeb;
}
.search-result-list-container a > div,
.search-result-list-container a > div:hover,
.search-result-list-container a > div:focus,
.search-result-list-container a > div:active {
    border: 0px;
    background-color: transparent;
}
/*****************/
/*page resource*/
/*general*/
/*labels souligné*/
.resource
    .property
    .property_value_container
    .property
    .property_label_container
    > div {
    border-bottom: 1px solid var(--neutral-dark-lighter);
    width: max-content;
}
/*moins d'espace en hauteur*/
.resource .detail .main-resource-section .property_value_container li {
    padding: 0 0;
}
/*plus de largeur pour texte dans li*/
.resource > .detail div.property p {
    max-width: max-content !important;
}
/*données en noir*/
.resource .detail .property_value_container .property_value_container * {
    color: var(--neutral-dark-very-dark);
}
/*bloc header-resource-section*/
/* bloc header label */
.header-resource-section
    > div
    > div
    > .property
    > .property_label_container
    span.property_label[style*="color: rgb(158, 158, 158)"] {
    font-size: 1.4rem;
    color: var(--primary-main) !important;
    border-bottom: 1px solid var(--primary-main);
}
/*bloc header value titre champ compose*/
.header-resource-section .property .property_value_container {
    flex: 1;
}
/* resource titre*/
.header-resource-section .property h1 {
    color: var(--text-main) !important;
    margin: 0 !important;
    padding-left: 1rem;
}
/*bloc infos associees au titre*/
.resource
    > .detail
    .header-resource-section
    .property_value_container
    > div
    > div
    > div {
    margin-top: 2rem;
    gap: 5%;
    margin-left: 0 !important;
    border-left: 0 !important;
}
/*tools definition*/
.resource > .detail .header-resource-section h1 + div .ldpu {
    flex: 1;
}
/*.main-resource-section*/
.resource .detail .main-resource-section > div > div:first-child {
    justify-content: initial;
}
/*characteristiques = .blocFondClair*/
.blocFondClair {
    background-color: var(--primary-light);
    padding: 3rem 3rem 1.5rem !important;
    flex: 3;
}
/*.blocFondClair titre*/
/* label titre as h2*/
.blocFondClair .property_label_container {
    margin-top: 0rem !important;
}
.blocFondClair > .property_label_container span.property_label {
    font-size: 2.8rem !important;
    line-height: 3.4rem;
    font-weight: 700 !important;
    padding: 3rem 20px 70px 20px;
}
.blocFondClair > .property_label_container span.property_label:empty {
    display: none;
}
.blocFondClair .property_value_container h2 {
    margin-top: 0rem !important;
}
/*champs composés*/
.blocFondClair .property_value_container > div > div > div {
    margin-left: 0 !important;
    border-left: 0px !important;
    padding: 0 !important;
    background-color: var(--primary-light);
    gap: 2%;
}
.blocFondClair .property_value_container > div > div > div div.property {
    flex: 1 1 30%;
    background-color: var(--contrast-main);
    padding: 1rem;
    margin: 0.5rem auto;
}
.blocFondClair .property_value_container > div > div > div div.property li {
    display: inline-block;
    padding: 3px 8px !important;
}
.blocFondClair
    .property_value_container
    > div
    > div
    > div
    div.property
    li:not(:last-child)
    > span::after {
    content: ",";
}
/*en savoir + = .sidebarFonce*/
/*ref bib = .blocExergue*/
.blocExergue {
    box-shadow: 10px 10px 20px rgb(133 133 133),
        -2px 0px 2px -2px rgb(236 236 236);
    padding: 3rem 5rem;
    margin: 5rem 0;
}
.blocExergue p {
    margin: 0 auto 1.5rem;
}
/*barre fonctionnelle*/
.main-resource-section > div .MuiCardActions-root {
    margin-top: 5rem;
}
/*****************************/
/* Responsive  ***************/
/*****************************/
@media screen and (max-width: 760px) {
    .banner {
        height: 100px;
        padding-top: 10px;
    }
    .banner img {
        height: 80%;
    }
    .banner h1.siteTitle {
        font-size: 3rem;
    }
    .subTitle {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 576px) {
    .menuIstex {
        height: 68px;
    }
}
@media screen and (max-width: 530px) {
    .banner {
        height: 120px;
        padding-top: 30px;
    }
    .banner h1.siteTitle {
        font-size: 30px;
    }
    .subTitle {
        display: none;
    }
    /*barre fonctionnelle*/
    .main-resource-section > div .MuiCardActions-root {
        flex-direction: column;
    }
}
