/*lodex theme_inist 2*/
/* fonts*/
@import url("fonts-style.css");
/*class css couleurs*/
/* -> declaration dans colorsTheme.js, custom/css/ styles_aphrodite, css-loader.css*/
/*initial vert #7dbd42 devient bleu #25809a ou rgb(37, 128, 154)*/ /*#06bad6 ko contrast*/
/*green:{ primary: "#25809a",
secondary: "rgba(37, 128, 154, 1.5)",
tertiary: "rgba(37, 128, 154, .5)",
light: "rgba(37, 128, 154, .1)",
}*/
/*orange #f48022 devient fushia #da1d64 (active et focus)*/
/* hover violet reste violet #b22f90*/
/*@import url("styles_aphrodite.css");*/
/*bouton vert ‘plus de résultats' et bouton vert 'parcourir les résultats'*/
/* (deviennent bleu et bleu foncé) uniquement par class css-xxxxx rgb(31, 106, 129)*/
@import url("css-loader.css");
/*reprise de style.css lodex appel supprime*/

/* MOBILE FIRST*/

/* adaptative charte : cf site inist/inist.css*/
/*tout type media, equiv a4*/
body {
    background: url("../img/bg_projets.jpg") repeat-x;
    opacity: 1;
}
@media (min-width: 794px) {
    body {
        background-size: 100%;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    /*TITRE l'instance*/
    /*pour info .css-oa9bdm h1 objet lodex
.css-oa9bdm {
  padding: 0.75rem 0.75rem 0.75rem 0px;
}*/
    div.dataset-characteristics > div > div.format_title:nth-child(2) {
        margin: -15rem auto 1rem 3rem;
        padding: 4rem;
    }
    /* position titre pour home*/
    .header-dataset-section {
        margin-top: 15rem;
    }
    /*lodex content*/
    /*petite marge full screen*/
    .container,
    .container-fluid {
        width: 95% !important;
    }
    /*breadcrumb liens externes et titre court*/
    div.breadcrumb-root {
        width: 95%;
        margin: -5rem auto 0;
    }
    /*titre court position*/
    div.breadcrumb-trail a[href="/"]:last-child {
        width: max-content;
        max-width: 70%;
        margin: 1.5rem auto 0 2.5rem;
    }
}
@media only screen and (min-width: 481px) and (max-width: 793.9px) {
    body {
        background-size: 100%;
    }
    header.container {
        width: 95%;
    }
    h1 {
        font-size: 1.5rem;
    }
    div.breadcrumb-root {
        margin: -5rem auto 0;
    }
    /*titre court position*/
    div.breadcrumb-trail a[href="/"]:last-child {
        width: max-content;
        max-width: 70%;
        margin: 1.5rem auto 0 5rem;
    }
    /*TITRE l'instance*/
    div.dataset-characteristics > div > div.format_title:nth-child(2) {
        margin: -10rem 1rem 0;
        background-color: white;
        border: 1px dotted rgb(224, 224, 224);
        border-bottom: white;
        padding: 4rem;
    }
    /* position titre pour home*/
    .header-dataset-section {
        margin-top: 10rem;
    }
}
@media only screen and (max-width: 480px) {
    body {
        background-size: 120%;
    }
    /*fonts hierarchie */
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1rem;
    }
    header #logos {
        margin: 0 auto;
    }
    /* titre court position*/
    div.breadcrumb-root {
        margin: -1.5rem auto 0;
        padding: 0 1.6rem;
    }
    /* pas de links*/
    div.breadcrumb-trail a[href^="http"] {
        display: none;
    }
    div.breadcrumb-trail a[href="/"]:last-child {
        margin: 0 auto;
    }
    footer ul {
        flex-direction: column;
    }
    /*position TITRE l'instance*/
    div.dataset-characteristics > div > div.format_title:nth-child(2) {
        margin: -6rem 1rem 0;
        padding: 1.5rem;
    }
    .header-dataset-section {
        margin-top: 5rem;
    }
}

/* PROP COMMUNES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* text : font, size, color*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #434148;
}
a {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #23527c;
    text-decoration: underline;
}
/*Hierarchie et style titres*/
h1 {
    font-family: "Barlow Medium";
    color: #14134f;
}
h2 {
    font-family: "Barlow Light";
    color: #14134f;
}
h3 {
    font-family: "Barlow Regular";
    color: #14134f;
}
h4 {
    font-family: "Barlow Regular";
    color: #14134f;
}
/*structure generale*/
/* sticky footer*/
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrapper {
    flex-grow: 1;
}
footer {
    flex-grow: 0;
    flex-shrink: 0;
}
/*header theme inist*/
header a.logo,
header a:hover.logo,
header a:focus.logo,
header a:active.logo {
    text-decoration: none;
    color: #fff;
}
header a.logocnrs img {
    height: 55px;
}
header a.logoinist {
    font-size: 0.8125rem;
    line-height: normal;
}
header a.logoinist > span:first-child {
    font-family: "Barlow Bold";
    font-size: 1.875rem;
}
header a.logoinist span.inist {
    font-family: "Barlow Regular";
    font-weight: bold;
}
header a.logoinist > span:first-child::after {
    content: "|";
    font-family: "Barlow Regular";
    font-weight: normal;
    opacity: 0.8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/*box positionnement, styles, width et marges*/
/*fond header inist dans lodex body*/
header {
    background-color: transparent;
    margin: 1rem auto 2rem;
}
/*text header bg fonce sur img bg body*/
header > *,
div.breadcrumb-trail a[href^="http"] {
    background-color: rgba(24, 20, 79, 0.6);
    box-shadow: 0px 0px 10px rgba(24, 20, 79, 0.9);
}
header div#logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}
header a.logocnrs {
    height: 56px;
}
header a.logoinist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    margin-left: 20px;
}
/*footer theme inist*/
footer {
    margin-bottom: 90px;
    margin-top: 1rem;
    background-color: #fff;
}
footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    margin: 5px auto;
}
footer ul li {
    flex: 1;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 7px 30px;
    margin: 15px 0;
}
footer li a,
footer li a:hover,
footer li a:focus,
footer li a:active {
    font-family: "Gentium", serif;
    font-size: 18px;
    border-bottom: 1px solid rgba(95, 177, 225, 0.5);
    color: #434148;
    text-decoration: none;
}
footer li#lodex::before {
    width: 30px;
    height: 30px;
    content: " ";
    background: #fff left center no-repeat scroll url("/favicon.ico");
    background-size: contain;
}
/*breadcrumb = menu haut inist*/
/*position dans header align logo*/
/*WIDTH : breadcrumb-root idem .container + style inist */
div.breadcrumb-root {
    max-width: 1248px;
    background-color: transparent;
    position: relative;
}
div.breadcrumb-root > svg,
div.breadcrumb-root span {
    display: none;
}
div.breadcrumb-trail {
    width: 100% !important;
    height: 60px;
    text-align: right;
}
div.breadcrumb-trail a[href^="http"]._66fo0a {
    color: white !important;
    font-variant: all-petite-caps;
    font-family: "Barlow Regular";
    font-weight: bold;
    padding: 10px 0 2px;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    margin: 0 8px;
}
div.breadcrumb-trail a[href^="http"]:hover,
div.breadcrumb-trail a[href^="http"]:focus,
div.breadcrumb-trail a[href^="http"]:active {
    border-bottom: 2px solid rgba(35, 174, 255, 1);
}
/*svg icone lien externe*/
div.breadcrumb-trail a[href^="http"]::after,
footer li a[href^="http"]::after {
    content: "";
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    background-color: transparent;
    background-image: url("../img/external-link-alt.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1rem;
}
div.breadcrumb-trail a[href^="http"]::after {
    filter: invert(100%);
}
footer li a[href^="http"]::after {
    background-image: url("../img/external-link-alt_gris.svg");
}
/* titre courant*/
div.breadcrumb-trail a[href="/"]:last-child {
    display: flex;
    border: 1px dotted rgb(224, 224, 224);
    border-bottom: white;
    background: white;
    justify-content: center;
    padding: 1rem;
}
/*titre courant svg home*/
div.breadcrumb-trail a[href="/"]:last-child::before {
    content: " ";
    background-image: url("../img/home.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    width: 1.3rem;
    margin-right: 0.5rem;
}
/*titre court texte*/
div.breadcrumb-trail a[href="/"]:last-child {
    text-align: center;
    color: rgb(43, 131, 186) !important;
    font-family: "Barlow Medium";
    font-size: 1.2rem;
    font-weight: normal;
}
/*titre court clicable*/
div.breadcrumb-trail a[href="/"]:last-child:hover,
div.breadcrumb-trail a[href="/"]:last-child:focus,
div.breadcrumb-trail a[href="/"]:last-child:active {
    text-decoration: underline 2px rgb(35, 174, 255);
    text-underline-offset: 5px;
}

/*ELEMENTS lodex - texte */

/*TITRE l'instance*/
/*pour info .css-oa9bdm h1 objet lodex
.css-oa9bdm {
  padding: 0.75rem 0.75rem 0.75rem 0px;
}*/
div.dataset-characteristics > div > div.format_title:nth-child(2) {
    background-color: white;
    border: 1px dotted rgb(224, 224, 224);
    border-bottom: white;
}

/*lodex Etiquette : graph,resource titre champs, graphs titre*/
div .property_label {
    font-family: "Barlow Medium" !important;
    font-weight: normal !important;
    color: #434148 !important;
}
/*label vide : pas de place*/
span.property_label:empty {
    display: none !important;
}
/*home label avec un tiret*/
.dataset-characteristics div .property_label::before {
    /* content: "—"; */
    padding-right: 20px;
    font-weight: bold;
}
/*resource titres champs*/
div.resource .property_label {
    font-size: 1rem !important;
    border-bottom: 1px dotted rgb(224, 224, 224);
}
/*annotation bt bb bl3*/
.linked_fields {
    border-left: none !important;
}
.linked_fields h2 {
    border-left: none;
    margin-left: 0 !important;
}
.linked_fields a.VoirPlus {
    display: block;
    margin: 0 auto;
}
/*ul fond charte inist */
.resources-grid-list {
    background-color: rgba(229, 229, 229, 0.17);
}
/*home annotations*/
div.dataset-characteristics
    div.format_title
    .property_value_container
    .linked_fields {
    margin: 0 !important;
}
/*barre nav lodex*/
#root div.body nav {
    box-shadow: 0px -5px 3px rgba(0, 0, 0, 0.2);
    background-image: url("../img/bg_neutre.jpg");
}
/*propulsion par lodex et icone*/
.dataset-characteristics > div:last-child,
div.main-resource-section > div > div:last-child,
nav img._1m2up2 {
    display: none;
}
/*ELEMENTS LODEX structure*/
/* pages fond blanc */
/*padding et fond descendent 3 noeuds*/
/*pour mettre breadcrumb dans header fond transparent*/
.container,
.container-fluid {
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
/*annul reserve pour nav bas de pages lodex (car footer)*/
._1dzy633 {
    padding-bottom: 0 !important;
}
/*pages lodex avec marges blanches et fond blanc*/
.body > .MuiPaper-root/*connexion*/,
.body > div div.dataset-characteristics,
.body > div div.resource,
.body > div div.static-page,
.body .graph-container {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
.body > div div.dataset-characteristics,
.body > div div.resource,
.body > div div.static-page,
.body .graph-container {
    background-color: white;
}
/*home spec*/
.dataset-characteristics > div:first-child {
    justify-content: space-between;
}
/* PAGE resource et graph manque 1 div*/
.body > div div.resource,
.body .graph-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin: 30px auto;
}
/*static-page reprend prop page home*/
.static-page {
    display: flex;
    flex-flow: column wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 30px auto;
}
.static-page p {
    margin-left: 2rem;
}

/*CHARTE inist*/
/*element de charte inist class a disposition*/
/*bordure bleu verticale titre 2*/
.bl3 {
    border-left: 3px solid #23aeff;
    padding-left: 30px;
}
.tiret::before,
.static-page h2::before {
    /* content: "—"; */
    padding-right: 20px;
    font-weight: bold;
}
.bb {
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}
.bt {
    border-top: 1px solid rgba(170, 170, 170, 0.2);
}
/*fond rose*/
.bg {
    background-color: rgba(229, 229, 229, 0.17);
}
/*a "voir plus" charte inist */
a.VoirPlus {
    color: #434148;
    margin: 15px 0 15px 0;
    padding: 15px 20px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 1px solid #23aeff;
    width: max-content;
    text-decoration: none;
}
a.VoirPlus:hover,
a.VoirPlus:focus {
    box-shadow: 0px 0px 0px 1px #23aeff;
}
/*element lodex reprise css bibliolodex*/
.dialog-button,
.export svg,
.export,
.graph-summary-icon,
.menu-item-drawerActive,
.graph-link,
._1hjrvck,
.link-link,
.link-link svg {
    color: #25809a !important;
    fill: #25809a !important;
}
.facet-value-item svg:last-of-type,
.exclude-facet svg:last-of-type,
.display-in-graph div svg:last-of-type {
    fill: #25809a !important;
}
.browse-result button,
.create-resource button,
.configure-field button {
    background-color: #25809a !important;
}
/*CircularProgress,*/
.fa-spinner,
.fa-spin {
    fill: #25809a !important;
    color: #25809a !important;
}
